/*==========  Mobile First Method  ==========*/

/*Desktop*/
@media only screen and (min-width: 1200px){
    /*-- GO GENERLS --*/

    .marginBottom10{
        margin-bottom: 10px !important;
    }

    .paddingSpecial{
        padding: 0 0 0 30px;
    }

    /*-- END GENERLS --*/

    /*-- GO HEADER --*/
    header{
        height: 105px;
    }

    .logo img{
        width: 170px;
        padding-top: 25px;
    }

    .language{
        padding: 10px 0;
    }

    .language select{
        height: 30px;
        width: 90px;
        font-size: 12px;
        padding: 0 10px;
        background-size: 15px;
        margin: 0 50px 0 auto;
    }

    .language select option{
        padding: 10px;
    }

    .socialMedia ul{
        padding:10px 50px;
    }

    .socialMedia li{
        margin-left: 5px;
        /*height: 35px;
        width: 35px;*/
    }

    .socialMedia li a{
        height: 25px;
        width: 25px;
        top: 4px;
        line-height: 25px;
    }

    .socialMedia li a i{
        font-size: 13px;
    }
    /*-- END HEADER --*/

    /*----- GO SLIDER -----*/
    .search{
        top: 130px;
        width: 902px;
        margin-left: -445px;
    }

    .search .nav-tabs{
        margin: 0  0 1px 30px;
    }

    .search .nav-tabs li i{
        margin-right: 5px;
    }

    .search .tab-pane{
        padding: 28px 20px 0 20px;
    }

    .search .tab-content h4{
        font-size: 12px;
        margin: 0 0 10px 0;
    }

    .search .tab-content h4 span{
        font-size: 30px;
        padding-right: 10px;
    }

    .search .tab-content .form-group-icon-left i{
        font-size: 20px;
        left: 15px;
        top: 7px;
    }

    .search .tab-content .city-input{
        height: 35px;
        font-size: 11px;
        padding: 0 0 0 35px;
    }

    .search .tab-content .input-group .form-control{
        height: 35px;
        padding: 0 0 0 40px;
        font-size: 11px;
    }

    .search .tab-content .input-group i{
        font-size: 16px;
        left: 15px;
        top: 9px;
    }

    .search .tab-content .btnModal{
        height: 35px;
        font-size: 12px;
        padding: 0 25px;
    }

    .search .tab-content .modal-dialog{
        margin: 150px auto;
    }

    .search .tab-content .modal-dialog .close i{
        font-size: 23px;
    }

    .search .tab-content .modal-dialog .titleSection{
        font-size: 14px;
        padding-bottom: 10px;
    }

    .search .tab-content .modal-dialog .selectRoom {
        padding-bottom: 5px;
    }

    .search .tab-content .modal-dialog .selectRoom .selectGroup{
        width: 35%;
        margin-right: 15px;
    }

    .search .tab-content .modal-dialog .selectRoom .selectGroup h3{
        font-size: 12px;
        margin-top: 5px;
    }

    .search .tab-content .modal-dialog .selectRoom .selectGroup h3 span{
        font-size: 14px;
        margin-left: 5px;
    }

    .search .tab-content .modal-dialog .selectRoom select{
        height: 30px;
        font-size: 12px;
        padding: 0 15px;
    }

    .search .tab-content .modal-dialog .addRoom{
        padding: 5px 0;
    }

    .search .tab-content .modal-dialog .addRoom a{
        font-size: 14px;
    }

    .search .tab-content .selectPassengers  label {
        font-size: 14px;
    }

    .search .tab-content .selectPassengers [type="radio"] + span:before {
        width: 13px;
        height: 13px;
        margin-right: 9px;
    }

    .search .tab-content .selectMoney{
        pad-bottom: 40px;
    }

    .search .tab-content .selectMoney select{
        height: 35px;
        font-size: 12px;
        padding: 0 5px;
    }

    .search .tab-content .btnSearch button{
        height: 40px;
        font-size: 14px;
        width: 130px;
        margin-bottom: 25px;
    }
    /*----- END SLIDER -----*/

    /*----- GO BANNER -----*/
    #banner{
        height: 220px;
    }
    /*----- END BANNER -----*/

    /*----- GO NAVBAR -----*/
    #navBar{
        height: 55px;
        margin-bottom: 4px;
    }

    #navBar li a{
        padding: 17px 40px;
        font-size: 16px;
    }

    #navBar li a i{
        font-size: 18px;
        padding-right: 10px;
    }

    #navBar li.active:after{
        bottom: -17px;
        font-size: 30px;
    }

    /*----- END NAVBAR -----*/
    /*----- GO BREADCRUMB -----*/
    #breadcrumb{
        padding: 5px 0;
    }

    #breadcrumb ol li a{
        font-size: 12px;
    }

    #breadcrumb ol li.active{
        font-size: 13px;
    }

    .breadcrumb li + li:before {
        padding: 0 5px;
        font-size: 13px;
    }
    /*----- END BREADCRUMB -----*/

    /*-----  GO LIST SEARCH -----*/
    .wrapperSearch{
        padding-bottom: 90px;
    }

    .message{
        padding: 30px 0;
        font-size: 20px;
        font-weight: bold;
    }

    #formSearch, #formFilters{
        padding: 30px 20px;
        margin-bottom: 40px;
    }

    #formSearch .results{
        margin-bottom: 50px;
    }

    #formSearch .results p{
        font-size: 16px;
    }

    #formSearch label{
        font-size: 14px;
    }

    #formSearch input, #formFilters input, #formSearch select, #formSearch button, #formFilters button{
        height: 35px;
        font-size: 14px;
    }

    #formSearch .form-group{
        margin-bottom: 30px;
    }

    #formSearch i{
        /*bottom: 19%;
        left: 5%;*/
        font-size: 16px;
    }

    #formSearch input{
        font-size: 14px;
    }

    #formSearch .bottonSearch button{
        height: 35px;
        font-size: 14px;
    }

    #formFilters .titleFilters{
        font-size: 20px;
        margin: 0 0 40px 0;
    }

    #formFilters .boxFilter h4{
        font-size: 14px;
        padding: 20px 0 10px 0;
        margin-bottom: 20px;
    }

    #formFilters .boxFilter ul li{
        padding-right: 5px;
    }

    #formFilters .boxFilter label {
        font-size: 12px;
    }

    #formFilters .boxFilter .checkbox {
        margin: 0 0 15px 0;
    }

    #formFilters .boxFilter .checkbox span{
        font-size: 12px;
    }

    #formFilters .boxFilter .checkbox .cr {
        width: 18px;
        height: 18px;
        padding: 2px;
        margin-right: 5px;
    }

    #formFilters .boxFilter .checkbox .cr .cr-icon {
        font-size: 12px;
    }

    #formFilters .boxFilter .rangePrice{
        margin-bottom: 25px;
    }
    /*----- END LIST SEARCH -----*/

    /*----- GO LIST THUMBS HOTELS -----*/
    #thumbsSearch .filterThumb{
        height: 35px;
        margin-bottom: 20px;
    }

    #thumbsSearch .filterThumb .btnDropdown{
        height: 30px;
        font-size: 14px;
    }

    #thumbsSearch .filterThumb .caret {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid;
        margin-left: 5px;
    }

    #thumbsSearch .dropdown-menu li a{
        padding: 5px 20px;
        font-size: 14px;
    }

    #thumbHotel{
        /*height: 210px;*/
        margin-bottom: 30px;
    }

    #thumbHotel .infoHotel h4 a{
        font-size: 20px;
    }

    #thumbHotel .infoHotel li i.fa-star{
        font-size: 15px;
    }

    #thumbHotel .infoHotel a{
        font-size: 15px;
    }

    #thumbHotel .priceRoom h4{
        font-size: 20px;
    }

    #thumbHotel .priceRoom p{
        font-size: 14px;
    }

    #thumbHotel .priceRoom h5{
        font-size: 15px;
        margin: 15px 0 0 0;
    }

    #thumbHotel .priceRoom h5 span{
        font-size: 17px;
    }

    #thumbHotel .priceRoom button{
        font-size: 13px;
        padding: 8px;
        margin-top: 40px;
    }

    #thumbsSearch .paginationList li a{
        font-size: 14px;
        margin: 0 5px;
    }

    #thumbsSearch .paginationList li a.arrows{
        padding: 10px;
    }

    #thumbsSearch .paginationList li a.arrows i{
        font-size: 12px;
    }
    /*----- END LIST THUMBS HOTELS -----*/

    /*----- GO DETAIL HOTEL -----*/
    .wrapperHotelDatail, .wrapperReservation{
        padding: 15px 0;
    }

    #descriptionHotel .titleHotel{
        font-size: 28px;
    }

    #descriptionHotel .adress{
        font-size: 14px;
        line-height: 27px;
    }

    #descriptionHotel .adress a{
        font-size: 16px;
        padding-left: 10px;
    }

    #descriptionHotel ul.starsHotel{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #descriptionHotel ul.starsHotel li{
        font-size: 20px;
    }

    #descriptionHotel .descriptionHotel{
        margin: 30px 0;
    }

    #descriptionHotel .descriptionHotel p{
        font-size: 12px;
        margin-bottom: 10px;
        line-height: 20px;
    }

    #descriptionHotel .boxPrice p{
        font-size: 12px;
    }

    #descriptionHotel .boxPrice h5{
        font-size: 24px;
        margin: 5px 0;
    }

    #descriptionHotel .boxPrice button{
        font-size: 14px;
        padding: 12px;
        width: 75% !important;
        font-weight: bold;
    }

    #descriptionHotel .itemsHotel{
        margin: 25px 0;
    }

    #descriptionHotel .itemsHotel h5{
        font-size: 16px;
        padding-bottom: 10px;
    }

    #descriptionHotel .itemsHotel ul li{
        font-size: 16px;
        padding-bottom: 10px;
    }

    #descriptionHotel .itemsHotel ul li i{
        padding-right: 5px;
    }

    #descriptionHotel .titleSection{
        font-size: 28px;
        padding-bottom: 10px;
    }

    #descriptionHotel .itemRoom{
        border: #e1e1e1 0.33vw solid;
        margin: 15px 0;
    }

    #descriptionHotel .itemRoom .titleRooms{
        font-size: 20px;
    }

    #descriptionHotel .itemRoom img{
        margin-bottom: 10px;
    }

    #descriptionHotel .itemRoom td h5{
        font-size: 18px;
    }

    #descriptionHotel .itemRoom td button{
        font-size: 12px;
        padding: 3px 15px;
        margin-bottom: 5px;
    }

    #descriptionHotel table td button{
        padding: 10px;
    }
    /*----- END DETAIL HOTEL -----*/

    /*----- GO CONTENT INFO -----*/
    .promotions{
        /*margin: 50px 0;*/
        margin: 0;
    }

    /*.promotions h1{
        font-size: 29px;
        padding: 0 0 30px 0;
    }*/

    .grid figure h2{
        font-size: 16px;
    }
    /*----- END CONTENT INFO -----*/

    /*----- GO PROCESS PAYMENT RESERVATION -----*/
    #infoReserva{
        padding: 20px 15px;
        margin-bottom: 20px;
    }

    #infoReserva .titleReserva, .datesPayment h5{
        font-size: 16px;
        margin: 15px 0;
    }

    #infoReserva li{
        font-size: 14px;
        margin-right: 5px;
    }

    #infoReserva p{
        font-size: 14px;
        margin-bottom: 5px;
    }

    #infoReserva h3{
        padding: 15px;
        font-size: 10px;
        margin: 20px 0;

    }

    #infoReserva aside{
        font-size: 12px;
        margin-top: 20px;
    }

    #infoReserva .totalPayment h2{
        font-size: 16px;
    }

    #infoReserva .headerDetail{
        padding: 5px 10px;
        margin-top: 20px;
    }

    #infoReserva .subHeaderDetail {
        padding: 5px 0;
        margin-bottom: 10px;
    }

    #infoReserva  .infoDetail h6{
        font-size: 18px;
    }

    #infoReserva .imgAeroline{
        margin: 10px auto;
        padding: 5px 0;
    }

    #processPayment .panel-default{
        margin-bottom: 10px;
    }

    #processPayment .panel-heading{
        padding: 10px 15px;
    }

    #processPayment .panel-title{
        font-size: 14px;
    }

    #processPayment .panel-body h5{
        font-size: 12px;
    }

    #processPayment .panel-body input{
        margin-top: 5px;
    }

    #processPayment .panel-body select{
        margin-top: 5px;
    }

    #processPayment .panel-body textarea{
        min-height: 200px;
        margin-top: 5px;
    }

    #processPayment .panel-body .bg-success{
        padding: 15px 10px;
        font-size: 14px;
    }

    #processPayment .buttonPayment button{
        font-size: 16px;
        height: 40px;
        padding: 0 40px;
    }

    #processPayment .datesPayment{
        margin-top: 10px;
    }

    #processPayment .datesPayment h2{
        font-size: 20px;
    }

    /*----- GO PROCESS PAYMENT RESERVATION -----*/

    /*----- GO SEARCH VUELOS -----*/
    #thumbsFlights{
        margin-bottom: 30px;
        padding: 20px 20px 0 20px;
    }

    #thumbsFlights .panel-heading{
        padding: 0px 15px;
    }

    #thumbsFlights .paymentFlight{
        right: 22px;
    }

    #thumbsFlights .paymentFlight p{
        font-size: 14px;
    }

    #thumbsFlights .paymentFlight h5{
        font-size: 24px;
        margin: 30px 0;
    }

    #thumbsFlights .paymentFlight button{
        font-size: 12px;
        padding: 15px;
    }

    #thumbsFlights .panel-heading h3{
        padding: 5px;
        font-size: 16px;
        margin: 12px 0;
    }

    #thumbsFlights .panel-heading h6{
        font-size: 14px;
    }

    #thumbsFlights .panel-heading h6 span{
        font-size: 13px;
    }

    #thumbsFlights .panel-body button{
        font-size: 12px;
        padding: 15px 0;
        text-align: center;
    }

    #thumbsFlights .panel-body  label {
        font-size: 12px;
    }

    #thumbsFlights .panel-body [type="radio"] + span:before {
        width: 13px;
        height: 13px;
        margin-right: 9px;
    }

    /*----- END SEARCH VUELOS -----*/

    /*----- GO FOOTER  -----*/
    .footer{
        height: 240px;
        padding: 30px 0;
    }

    .footer .logoFooter img{
        width: 200px;
    }

    .footer h3{
        font-size: 16px;
        padding-bottom: 15px;
    }

    .footer p{
        font-size: 13px;
        margin-top: 22px;
        line-height: 22px;
    }

    .footer .btnContact{
        height: 39px;
        width: 115px;
        font-size: 12px;
        padding: 10px 0;
        margin-top: 27px;
    }

    .socialMediaFooter ul{
        margin: 34px 0 0 0;
    }

    .socialMediaFooter li{
        margin: 0 5px 0 0;
        /*height: 35px;
        width: 35px;*/
    }

    .socialMediaFooter li a{
        height: 25px;
        width: 25px;
        top: 4px;
        line-height: 25px;
    }

    .socialMediaFooter li a i{
        font-size: 13px;
    }

    .associations{
        height: 65px;
    }

    .associations ul{
        padding: 6px 0 0 0;
    }

    .associations .linkConditions{
        font-size: 10px;
        padding: 25px 0 23px 0;
    }

    .copyright{
        height: 60px;
        padding-top: 23px;
    }

    .copyright p{
        font-size: 10px!important;
        color: #ebebeb!important;
    }
    /*----- END FOOTER -----*/
}

@media only screen and (max-width: 1199px){

    .language select{
        background-size: 1.2vw !important;
    }

    .search .tab-content .selectMoney select{
        background-size: 1.2vw !important;
    }

    .search .tab-content .modal-dialog .selectRoom select{
        background-size: 1.2vw !important;
    }
}

/*Mobile*/
@media only screen and (max-width: 1024px){
    figure.effect-goliath {
        height: 220px;
    }
    .associations .linkConditions{
        float: none;
    }

    .associations{
        text-align: center;
    }

    .footer p{
        font-size: 1.20vw !important;
    }

    #processPayment .panel-title, #processPayment .panel-body h5, #processPayment .datesPayment h2{
        font-size: 2vw;
    }

    .form-group label{
        font-size: 1.1vw;
    }

}

@media only screen and (max-width: 767px){
    .copyright p {
        margin-bottom: 0px;
        margin-top: -8px;
    }
    .booking-item-img-num {
        position: relative;
        bottom: 20px;
        left: 66px;
        color: #fff;
        background: rgba(0,0,0,0.01);
        opacity: 0.5;
    }

    .modal-content{
        top:105px!important;
    }

    .duration-time{
        text-align: left!important;
    }

    #thumbsFlights .paymentFlight{
        margin-top: 10%;
    }

    .logo img{
        width: 90px;
    }

    #banner{
        height: 180px;
    }

    .associations li img{
        width: 10vw;
        height: auto;
    }

    .footer .logoFooter img, .carousel-indicators{
        display: none;
    }

    .message{
        font-size: 12px;
        line-height: 18px;
    }

    #thumbsSearch .filterThumb{
        border-width: 2px 1px 1px;
    }

    #thumbsSearch .filterThumb .btnDropdown{
        font-size: 8px !important;
    }

    #thumbsSearch .filterThumb .caret{
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 3px solid;
    }

    #thumbHotel{
        width: 100%;
        margin: 30px 0 0 0 !important;
    }

    #thumbHotel .infoHotel h4{
        display: grid;
    }

    #thumbHotel .infoHotel h4 a, #thumbHotel .infoHotel span, #thumbHotel .infoHotel a, #thumbHotel .infoHotel li i.fa-star, #thumbHotel .priceRoom p{
        font-size: 12px;
    }

    #thumbHotel .infoHotel ul{
        margin: 0 !important;
    }

    #thumbHotel .infoHotel ul li{
        vertical-align: super;
    }

    #thumbHotel .priceRoom{
        text-align: center;
    }

    #thumbHotel .priceRoom h4{
        font-size: 14px;
    }

    #thumbHotel .priceRoom h5, #thumbHotel .priceRoom h5 span, #thumbHotel .priceRoom button{
        font-size: 10px;
    }

    #thumbHotel .infoHotel, #thumbHotel .priceRoom{
        padding: 15px !important;
    }

    #thumbHotel .infoHotel .modalMap {
        line-height: 0;
    }

    #thumbHotel .infoHotel ul{
        margin: 2.25vw 0;
    }

    .socialMedia ul{
        float: none;
        text-align: center;
    }

    .language select{
        margin: 10px auto;
        font-size: 8px;
        height: 20px;
        width: 80px;
    }

    #processPayment .panel-title, #processPayment .panel-body h5, #processPayment .datesPayment h2{
        font-size: 3vw;
    }

    #processPayment .panel-body .bg-success{
        font-size: 2.6vw;
        text-align: center;
    }

    .form-group label{
        font-size: 13px;
    }

    .buttonPayment button {
        font-size: 11px !important;
        height: 25px !important;
        padding: 0 20px !important;
        margin-bottom: 20px !important;
    }

    .footer h3{
        font-size: 10px !important;
    }

    .footer p {
        font-size: 8px !important;
        line-height: 10px !important;
    }

    .footer .btnContact {
        font-size: 6px;
        height: 15px;
        width: 80px;
    }

    .associations .linkConditions{
        font-size: 5px !important;
    }

    .copyright p{
        font-size: 4px !important;
    }

    #infoReserva{
        padding: 15px !important;
    }

    #infoReserva .imgAeroline{
        margin: 10px auto !important;
    }

    #infoReserva .infoDetail h6{
        font-size: 16px !important;
    }

    #infoReserva li{
        font-size: 13px !important;
    }

    #formSearch select{
        font-size: 13px;
    }

    #formSearch, #formFilters{
        padding: 15px;
    }

    #descriptionHotel .titleHotel{
        font-size: 19px;
    }

    #descriptionHotel ul.starsHotel li{
        font-size: 12px;
    }

    #descriptionHotel .adress{
        font-size: 12px;
        line-height: 16px;
    }

    #descriptionHotel .descriptionHotel p{
        font-size: 12px;
        line-height: 20px;
    }

    #descriptionHotel .itemsHotel h5{
        font-size: 10px !important;
    }

    #descriptionHotel .titleSection{
        font-size: 12px !important;
    }

    #descriptionHotel .itemsHotel ul li{
        font-size: 9px !important;
    }

    #descriptionHotel .boxPrice p{
        font-size: 12px !important;
    }

    #descriptionHotel .boxPrice h5{
        font-size: 14px !important;
    }

    #descriptionHotel .boxPrice button{
        font-size: 10px !important;
        width: 100px !important;
    }

    #breadcrumb ol li a, .breadcrumb li + li:before, #breadcrumb ol li.active{
        font-size: 8px !important;
    }

    .socialMedia li{
        vertical-align: super;
    }

    .socialMediaFooter li{
        vertical-align: top;
    }

    .socialMediaFooter li a , .socialMedia li a{
        height: 12px !important;
        width: 12px !important;
    }

    .socialMediaFooter li a i, .socialMedia li a i{
        font-size: 6px !important;
    }

    #thumbsFlights .panel-body p, #thumbsFlights .panel-body label, #thumbsFlights .panel-body button{
        font-size: 10px;
    }

    #thumbsFlights .panel-body [type="radio"] + span::before{
        height: 10px;
        width: 10px;
    }

    #thumbsFlights .panel-body button{
        margin-top: 10px;
    }

    #thumbsFlights .panel-heading{
        padding: 5px 10px;
    }

    #thumbsFlights .panel-heading h3 {
        font-size: 7px;
        margin: 0;
        padding: 5px;
    }

    #thumbsFlights .panel-heading h6{
        margin: 0;
        font-size: 7px;
    }

    #thumbsFlights .panel-heading h6 span{
        font-size: 7px;
        line-height: 9px;
    }

    #thumbsFlights .paymentFlight{
        position: inherit;
    }

    #thumbsFlights .paymentFlight p{
        font-size: 12px;
        text-align: center;
    }

    #thumbsFlights .paymentFlight h5{
        font-size: 14px;
    }

    #thumbsFlights .paymentFlight button{
        max-width: 90px;
        font-size: 10px;
        padding: 5px 10px;
    }

    .grid figure p{
        font-size: 10px;
    }

    #carousel-example-generic{
        display: none !important;
    }

    header{
        position: inherit;
    }

    .mobileSearch{
        /*margin: 20px 0;*/
    }

    .mobileSearch .search{
        position: inherit;
        top: 0;
        left: 0;
        margin: 0 !important;
        width: 100%;
    }

    .mobileSearch .search .input-group{
        display: inherit !important;
    }

    .mobileSearch .search input{
        height: 30px !important;
        font-size: 10px !important;
        padding: 0 0 0 20px !important;
        margin-bottom: 10px !important;
    }

    .mobileSearch .search select, button.btnModal{
        height: 30px !important;
        font-size: 10px !important;
        margin-bottom: 10px !important;
    }

    .mobileSearch .search h4{
        font-size: 10px;
    }

    .mobileSearch .search i{
        font-size: 10px !important;
        top: 9px !important;
        left: 9px !important;
    }

    .mobileSearch .search .btnSearch button{
        height: 20px !important;
        font-size: 10px !important;
        width: 70px;
    }

    .mobileSearch .search .selectPassengers label{
        font-size: 8px !important;
    }

    .mobileSearch .search .selectPassengers [type="radio"] + span::before{
        width: 10px !important;
        height: 10px !important;
    }

    .grid figure img{
        width: 100%;
        height: auto;
    }

    .promotions .grid{
        margin-bottom: 15px;
    }

}

@media only screen and (max-width: 415px){

    #thumbsFlights .paymentFlight{
        margin-top: 10%;
    }

    #thumbHotel .priceRoom h5{
        margin: 0;
    }

    #formSearch .results p{
        font-size: 2.5vw;
    }

    #formSearch label, #formFilters label, #formFilters .boxFilter h4, #formSearch button, #formFilters button{
        font-size: 3.33vw;
    }

    #formFilters .boxFilter .checkbox span{
        font-size: 2.16vw;
    }

    #formFilters .boxFilter label{
        font-size: 3vw;
    }

    #formSearch .form-group i, #formFilters .form-group i {
        bottom: 1.83vw;
        left: 5.5vw;
    }

    #processPayment .panel-title, #processPayment .panel-body h5, #processPayment .datesPayment h2{
        font-size: 4vw;
    }

}
