
/*----- GO RESET -------*/
li{
	list-style: none;
}

a, a:hover, a:focus{
	text-decoration: none;
	outline: none;
}
/*----- END RESET -------*/

/*----- GO GENERALS -------*/
.noPadding{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.center{
	text-align: center;
}

.left{
	float: left;
}

.right {
	float: right !important;
}

.textLeft{
	text-align: left;
}

.textRight {
	text-align: right;
}

.marginBottom10{
	margin-bottom: 0.83vw !important;
}

.paddingLeft15{
	padding-left: 15px !important;
}
.search-menu-type{
	width: 200px;
}


.cancellation_policies{
	width: 200px;
}

.capacity{
	width: 90px;
}

.paddingSpecial{
	padding: 0 0 0 2.5vw;
	margin: 0;
}

.paddingModif{
	margin: 0 3%;
}

.inputError{
	border-color: #ea0000 !important;
	border-width: 2px !important;
}

.borderNone{
	border: none !important;
}

/*----- END GENERALS -------*/

/*----- GO COLORS SOCIAL MEDIA -----*/
.bgFacebook{
	background-color: #3b5998;
}

.bgTwitter{
	background-color: #55acee;
}

.bgGooglePlus{
	 background-color: #dd4b39;
 }

.bgLinkedin{
	background-color: #007bb5;
}

.bgInstagram{
	background-color: #125688;
}

.bgWeibo{
	background-color: #df2029;
}
/*----- END COLORS SOCIAL MEDIA -----*/

/*----- GO HEADER -----*/
header{
	/*height: 8.75vw;*/
	background: rgba(0,0,0,0.7)!important;
	position: absolute!important;
	z-index: 9999;
	width: 100%;
}

.menu-left-label {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
}

.logo{
	text-align: center;
}

.logo img{
	width: 14.16vw;
	padding-top: 2.08vw;
}

.language{
	border-bottom: #707070 1px solid;
	padding: 0.83vw 0;
}

.language select{
	height: 2.5vw;
	width: 7.5vw;
	border-radius: 5px;
	border: #888888 1px solid;
	background-color: rgba(17,17,17,0.2);
	background: url(../images/arrow-down.png) no-repeat 89% 50% !important;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	color: #fff;
	font-family: 'latolight';
	font-size: 1vw;
	text-transform: uppercase;
	cursor: pointer;
	padding: 0 0.83vw;
	margin: 0 4.16vw 0 auto;
}

.language select option{
	padding: 0.83vw;
}

.socialMedia ul{
	float: right;
	padding: 0.83vw 4.16vw;
	margin: 0;
}

.socialMedia li{
	display: inline-block;
	margin-left: 0.41vw;
	/*background: rgba(17,17,17,0.2);*/
	border-radius: 50%;
	/*border: #888888 1px solid;
	height: 2.91vw;
	width: 2.91vw;*/
	text-align: center;
}

.socialMedia li a{
	display: flex;
	border-radius: 50%;
	height: 2.08vw;
	width: 2.08vw;
	margin: 0 auto;
	position: relative;
	line-height: 2.08vw;
	flex-flow: column;
	justify-content: center;
}

.socialMedia li a i{
	color: #ffffff;
	font-size: 1.08vw;
}
/*----- END HEADER -----*/

/*----- GO SLIDER -----*/

.carousel-indicators {
	bottom: 0 !important;
}

.search{
	left: 50%;
	position: absolute;
	top: 10.83vw;
	width: 79.16vw;
	z-index: 99;
	margin-left: -39.58vw;
}

.search .nav-tabs{
	border: none;
	margin: 0 0 0.08vw 2.5vw;
}

.search .nav-tabs li i{
	margin-right: 0.41vw;
}

.nav-tabs > li > a {
	border: 1px solid transparent;
	border-radius: 5px 5px 0 0;
	line-height: 1.42857;
	margin-right: 2px;
	background: #505152;
	color: #ffffff;

}

.nav-tabs > li > a:hover {
	background: rgba(255,255,255,0.7);
	color: #233034;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	background: rgba(255,255,255,0.7);
	border-radius: 5px 5px 0 0;
	color: #233034;
}

.search .tab-pane{
	background: rgba(255,255,255,0.7);
	border-radius: 5px;
	padding: 3.33vw 1.66vw 0 1.66vw;
}

.search .tab-pane.active{
    border: #192731 2px solid;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(0,19,33,0.65);
    -moz-box-shadow: 0px 0px 15px 3px rgba(0,19,33,0.65);
    box-shadow: 0px 0px 15px 3px rgba(0,19,33,0.65);
}

.search .tab-content h4{
	font-size: 1vw;
	font-family: 'latoblack';
	color: #1d2d33;
	margin: 0 0 0.83vw 0;
	text-transform: uppercase;
}

.search .tab-content h4 span{
	font-size: 2.5vw;
	font-family: 'latoblack';
	color: #0281c0;
	margin: 0;
	padding-right: 0.83vw;
}

.search .tab-content .form-group-icon-left{
	position: relative;
}

.search .tab-content .form-group-icon-left i{
	position: absolute;
	z-index: 99;
	left: 1.25vw;
	top: 0.58vw;
	color: #e3e3e3;
	font-size: 1.66vw;
}

.search .tab-content .city-input{
	border-radius: 5px;
	box-shadow: none;
	border: none;
	background: #192731;
	color: #e3e3e3;
	font-size: 1.08vw;
	padding: 0 0 0 2.91vw;
	height: 2.91vw;
}

.search .tab-content .input-group .form-control{
	border-radius: 5px;
	background: #192731;
	border: none;
	color: #e3e3e3;
	height: 2.91vw;
	padding: 0 0 0 3.33vw;
	font-size: 1.33vw;
}

.search .tab-content .input-group i{
	color: #e3e3e3;
	font-size: 1.33vw;
	left: 1.08vw;
	position: absolute;
	top: 0.75vw;
	z-index: 99;
}

.search .tab-content .btnModal{
	height: 35px;
	border-radius: 5px;
	background: #192731;
	color: #e3e3e3;
	font-size: 1vw;
	height: 2.91vw;
	width: 100%;
	border: none;
	text-align: left;
	padding: 0 2.08vw;
    float: left;
}

.search .tab-content .modal-dialog{
	margin: 12.5vw auto;
	width: 80%;
}

.search .tab-content .modal-dialog .modal-body{
	padding-bottom: 0 !important;
}

.search .tab-content .modal-dialog h4{
	margin: 0;
}


.search .tab-content .modal-dialog .close{
	opacity: 1;
}

.search .tab-content .modal-dialog .close i{
	color: #0181c0;
	text-shadow: none;
	font-size: 1.91vw;
}

.search .tab-content .modal-dialog .titleSection{
	color: #1d2d33;
	font-size: 1.5vw;
	font-family: 'latobold';
	padding-bottom: 0.83vw;
	border-bottom: #0181c0 2px solid;
}

.search .tab-content .modal-dialog .selectRoom,.search .tab-content .modal-dialog .selectFlight{
	padding-bottom: 1.66vw;
}

.search .tab-content .modal-dialog .selectRoom .selectGroup, .search .tab-content .modal-dialog .selectFlight .selectGroup{
	width: 31%;
	margin-right: 1.25vw;
	display: inline-block;
}

.search .tab-content .modal-dialog .selectRoom .selectGroup h3, .search .tab-content .modal-dialog .selectFlight .selectGroup h3{
	color: #1d2d33;
	font-family: 'latobold';
	font-size: 1.33vw;
	text-transform: uppercase;
}

.search .tab-content .modal-dialog .selectRoom .selectGroup h3 span{
	color: #929292;
	font-family: 'latolight_italic';
	font-size: 1.16vw;
	text-transform: lowercase;
	margin-left: 0.41vw;
}

.search .tab-content .modal-dialog .selectRoom select, .search .tab-content .modal-dialog .selectFlight select{
	height: 2.91vw;
	border-radius: 5px;
	border: none;
	background: url(../images/arrow-back-white.png) no-repeat 92% 50% #192731!important;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	color: #e3e3e3;
	font-family: 'latolight';
	font-size: 1.33vw;
	cursor: pointer;
	padding: 0 1.15vw;
	width: 100%;
}

.search .tab-content .modal-dialog .selectRoom select option, search .tab-content .modal-dialog .selectFlight select option{
	background: #fff;
	color: #5e676e;
}

.search .tab-content .modal-dialog .addRoom{
	padding: 15px 0;
}

.search .tab-content .modal-dialog .addRoom a{
	color: #e0041f;
	font-size: 1.5vw;
	font-family: 'latoregular';
}

.search .tab-content .selectPassengers [type="radio"] {
	border: 0;
	height: 1px;
	margin: -1px;
	width: 1px;
	display: none;
}

.search .tab-content .selectPassengers  label {
	display: inline-block;
	cursor: pointer;
	font-size: 1.16vw;
	float: left;
	padding: 0;
	color: #1d2d33;
}

.search .tab-content .selectPassengers [type="radio"] + span:before {
	content: '';
	display: inline-block;
	width: 1.08vw;
	height: 1.08vw;
	vertical-align: middle;
	border-radius: 50%;           /*hard border*/
	border: 2px solid #0281c0;
	margin-right: 0.75vw;
	transition: 0.5s ease all;    /*animation here*/
}

/* the checked style using the :checked pseudo class */
.search .tab-content .selectPassengers [type="radio"]:checked + span:before {
	background: #0281c0;
	box-shadow: 0 0 0 0.15em #0281c0;
	border: 1px solid #fff;
}

.search .tab-content .selectMoney{
	padding-bottom: 3.33vw;
}

.search .tab-content .selectMoney select{
	height: 2.91vw;
	border-radius: 5px;
	border: #192731 1px solid;
	background: url(../images/arrow-down-select.png) no-repeat 92% 50% rgba(225,225,225,0.7)!important;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	color: #192731;
	font-family: 'latolight';
	font-size: 1.08vw;
	cursor: pointer;
	padding: 0 1.15vw;
	width: 75%;
	float: right;
}

.search .tab-content .btnSearch{
	text-align: center;
}

.search .tab-content .btnSearch button{
	height: 3.33vw;
	background: #0181c0;
	border-radius: 5px;
	font-size: 1.33vw;
	color: #e3e3e3;
	font-family: 'latoregular';
	width: 10.83vw;
	border: none;
	box-shadow: none;
	text-transform: uppercase;
	margin-bottom: 3.33vw;
}
/*----- END SLIDER -----*/

/*----- GO BANNER -----*/
#banner{
	height: 25vw;
	overflow: hidden;
	background: url("../images/banner-demo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
/*----- END BANNER -----*/

/*----- GO NAVBAR -----*/
#navBar{
	background: #008cd0;
	height: 4.58vw;
	margin-bottom: 0.33vw;
}

#navBar ul{
	padding: 0;
	margin: 0;
}

#navBar li{
	float: left;
	border-color: #fff;
	border-style: solid;
	border-width: 0 1px;
	position: relative;
}

#navBar li a{
	display: block;
	padding: 1.3vw 3.33vw;
	color: #233034;
	font-size: 1.33vw;
	font-family: 'latoregular';
	text-transform: uppercase;
}

#navBar li a i{
	font-size: 1.5vw;
	padding-right: 0.83vw;
}

#navBar li.active a, #navBar li.active a i{
	color: #ffffff;
}

#navBar li.active:after{
	bottom: -1.4vw;
	content: "\f0d8";
	font-family: "FontAwesome";
	font-size: 2.5vw;
	left: 43%;
	position: absolute;
	color: #ffffff;
}

#navBar li + li{
	border-left: none !important;
}
/*----- END NAVBAR -----*/

/*----- GO BREADCRUMB -----*/
#breadcrumb{
	padding: 1.08vw 0;
	background: #e1e1e1;
}

#breadcrumb ol{
	background: none;
	margin: 0;
	padding: 0;
}

#breadcrumb ol li a{
	text-transform: uppercase;
	color: #233034;
	font-family: 'latobold';
	font-size: 1.16vw;
}

#breadcrumb ol li a:hover{
	text-decoration: underline;
}

#breadcrumb ol li.active{
	font-family: 'latolight';
	text-transform: uppercase;
	color: #233034;
	font-size: 1.33vw;
}

.breadcrumb li + li:before {
	color: #727272;
	content: "\f054";
	padding: 0 0.41vw;
	font-family: "FontAwesome";
	font-size: 1.16vw;
}
/*----- END BREADCRUMB -----*/

/*----- GO CONTENT LIST SEARCH --------------------------------------------------------------------------------*/
.wrapperSearch{
	padding-bottom: 7.5vw;
}

.message{
	margin: 0;
	padding: 3.33vw 0;
	font-size: 2.08vw;
	color: #233034;
    font-family: 'latoregular';
}

#formSearch, #formFilters{
	border-radius: 10px;
	background: #363636;
	padding: 2.5vw 1.66vw;
	margin-bottom: 3.33vw;
}

#formSearch .results{
	margin-bottom: 4.16vw;
}

#formSearch .results p{
	color: #ffffff;
	font-size: 1.33vw;
	font-family: 'latolight';
}

#formSearch .results p span{
	font-family: 'latobold';
}

#formSearch label, #formFilters label{
	color: #ffffff;
	font-size: 12px;
	font-family: 'latoregular';
	font-weight: normal;
}

#formSearch .form-group, #formFilters .form-group{
	margin-bottom: 2.5vw;
}

#formSearch .form-group i, #formFilters .form-group i{
	bottom: 10px;
	color: #233034;
	left: 23px;
	position: absolute;
	font-size: 16px;
	z-index: 99;
}

#formSearch input, #formFilters input{
	border-radius: 5px;
	height: 30px;
	border: none;
	box-shadow: none;
	color: #233034;
	font-size: 14px;
	font-family: 'latoregular';
	position: relative;
	padding-left: 25px;
}

#formSearch button, #formFilters button{
	border: none;
	box-shadow: none;
	border-radius: 5px;
	height: 30px;
	width: 100%;
	background: #0777ae;
	text-align: center;
	font-size: 14px;
	color: #e3e3e3;
	font-family: 'latobold';
	text-transform: uppercase;
}

#formSearch select{
	background: url(../images/arrow-down-select.png) no-repeat 92% 50% #ffffff !important;
	height: 30px;
	border: none;
	border-radius: 5px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
	font-size: 14px;
	padding: 0.5vw 1vw;
}

#formFilters .titleFilters{
	color: #fcfeff;
	text-transform: uppercase;
	font-size: 18px;
	margin: 0 0 3.33vw 0;
	font-family: 'latobold';
}

#formFilters .boxFilter h4{
	color: #fcfeff;
	font-size: 1.16vw;
	font-family: 'latoregular';
	padding: 1.66vw 0 0.83vw 0;
	border-bottom: #7f7f7f 1px solid;
	margin-bottom: 1.66vw;
}

#formFilters .boxFilter ul{
	padding: 0;
	display: inline-block;
}

#formFilters .boxFilter ul li{
	display: inline-block;
	padding-right: 0.41vw;
}

#formFilters .boxFilter label {
	padding-left: 0;
	color: #fcfeff;
	font-size: 12px;
	font-family: 'latoregular';
	vertical-align: top;
}

#formFilters .boxFilter .checkbox {
	margin: 0 0 1.25vw 0;
}

#formFilters .boxFilter .checkbox span{
	color: #fcfeff;
	font-family: 'latolight';
	font-size: 12px;
}

#formFilters .boxFilter .checkbox .cr {
	border: #ffffff 1px solid;
	width: 18px;
	height: 18px;
	padding: 2px;
	display: inline-flex;
	margin-right: 5px;
	vertical-align: middle;
}

#formFilters .boxFilter .checkbox .cr .cr-icon {
	color: #00bce7;
	font-size: 12px;
}

#formFilters .boxFilter .checkbox label input[type="checkbox"] {
	display: none;
}

#formFilters .boxFilter .checkbox label input[type="checkbox"] + .cr > .cr-icon {
	transform: scale(3) rotateZ(-20deg);
	opacity: 0;
	transition: all 0.3s ease-in;
}

#formFilters .boxFilter .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
	transform: scale(1) rotateZ(0deg);
	opacity: 1;
}

#formFilters .boxFilter .checkbox label input[type="checkbox"]:disabled + .cr {
	opacity: .5;
}

#formFilters .boxFilter .rangePrice{
	margin-bottom: 2.08vw;
}


/*------ GO LIST THUMBS HOTELS -----*/
#thumbsSearch .filterThumb{
	border-color: #008cd0;
	border-style: solid;
	border-width: 4px 2px 2px 2px;
	border-radius: 5px;
	margin-bottom: 3.33vw;
	line-height: 0;
	display: flex;
}

#thumbsSearch .filterThumb .modal{
	z-index: 99999;
}

#thumbsSearch .filterThumb .modal ul{
	padding: 0;
}

#thumbsSearch .filterThumb .modal ul li{
	height: 25px;
	margin-bottom: 10px;
}

#thumbsSearch .filterThumb  label {
	display: inline-block;
	cursor: pointer;
	font-size: 16px;
	float: left;
	padding: 0;
	color: #1d2d33;
}

#thumbsSearch .filterThumb [type="radio"] {
	display: none;
}

#thumbsSearch .filterThumb [type="radio"] + span:before {
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	vertical-align: middle;
	border-radius: 50%;           /*hard border*/
	border: 2px solid #0281c0;
	margin-right: 10px;
	transition: 0.5s ease all;    /*animation here*/
}

#thumbsSearch .filterThumb [type="radio"]:checked + span:before {
	background: #0281c0;
	box-shadow: 0 0 0 0.15em #0281c0;
	border: 1px solid #fff;
}



#thumbsSearch .filterThumb .btnDropdown{
	border-style: solid;
	border-color: #008cd0;
	border-width: 0 1px 0 0;
	background: none;
	height: 4.41vw;
	text-align: center;
	text-transform: uppercase;
	color: #233034;
	font-family: 'latobold';
	font-size: 1.33vw;
	width: 100%;
}

#thumbsSearch .filterThumb .caret {
	border-left: 0.58vw solid transparent;
	border-right: 0.58vw solid transparent;
	border-top: 0.58vw solid;
	display: inline-block;
	height: 0;
	margin-left: 0.4vw;
	vertical-align: middle;
	width: 0;
}

.btn-group.open .dropdown-toggle{
	box-shadow: none;
}

#thumbsSearch .dropdown-menu{
	box-shadow: none;
}

#thumbsSearch .dropdown-menu li a{
	padding: 0.41vw 1.66vw;
	color: #233034;
	font-size: 1.16vw;
	font-family: 'latoregular';
}

#thumbsSearch .dropdown-menu li a:hover{
	background-color: #008cd0;
	text-decoration: none;
	color: #ffffff;
}

#thumbHotel{
	border-radius: 5px;
	border: #e1e1e1 1px solid;
	/*height: 17.5vw;*/
	margin-bottom: 2.5vw;
	overflow: hidden;
	background: #f5f5f5;
	padding: 15px 0;
}

#thumbHotel:hover{
	border-color: #008cd0;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(0,140,208,0.65);
    -moz-box-shadow: 0px 0px 15px 3px rgba(0,140,208,0.65);
    box-shadow: 0px 0px 15px 3px rgba(0,140,208,0.65);
}

#thumbHotel .imgHotel{
	padding: 0 15px;
}

#thumbHotel .imgHotel img{
	width: 100%;
	height: auto;
}

#thumbHotel .infoHotel h4{
	margin: 0 0 5px 0;
	display: flex;
}

#thumbHotel .infoHotel h4 a{
	color: #008cd0;
	font-size: 1.66vw;
	font-family: 'latobold';
	float: left;
}

#thumbHotel .infoHotel ul{
	padding: 0;
	margin: 0 0 0 10px;
	float: left;
}

#thumbHotel .infoHotel li{
	display: inline-block;
}

#thumbHotel .infoHotel li i.fa-star{
	color: #febb02;
	font-size: 1.25vw;
}

#thumbHotel .infoHotel .modalMap{
	margin-bottom: 5px;
}

#thumbHotel .infoHotel .descriptionText{
	padding-right: 10px;
	font-size: 13px;
}

#thumbHotel .infoHotel .inDemand{
	font-size: 12px;
	color: #ff0202;
}

#thumbHotel .infoHotel .inDemand span{
	font-size: 12px;
	background: #ff6c6c;
	padding: 3px 5px;
	border-radius: 3px;
	color: #ffffff;
	margin-right: 5px;
}

#thumbHotel .infoHotel a{
	font-size: 1.25vw;
	font-family: 'latoregular';
	color: #0777ae;
}

#thumbHotel .infoHotel a i{
	margin: 0 5px;
}

#thumbHotel .infoHotel a:hover{
	text-decoration: none;
	color: #233034;
}

#thumbHotel .infoHotel .servicesIcons{
	padding: 0;
	margin: 10px 0 0 0;
	border-radius: 50%;
}

#thumbHotel .infoHotel .servicesIcons li{
	border-radius: 50%;
	background: #ffffff;
	border: #008cd0 1px solid;
	text-align: center;
	width: 30px;
	height: 30px;
}

#thumbHotel .infoHotel .servicesIcons li i{
	color: #003580;
	font-size: 12px;
	vertical-align: sub;
}

#thumbHotel .infoHotel .servicesIcons span{
	margin-left: 5px;
	vertical-align: text-top;
}

#thumbHotel .priceRoom{
	margin: 0;
	padding: 0 15px 0 0;
	text-align: right;
}

#thumbHotel .priceRoom h4{
	margin: 0 0 5px 0;
	color: #008cd0;
	font-size: 1.66vw;
	font-family: 'latobold';
}

#thumbHotel .priceRoom p{
	font-size: 1.16vw;
	font-family: 'latoregular';
	color: #233034;
}

#thumbHotel .priceRoom h5{
	color: #233034;
	font-size: 1.25vw;
	font-family: 'latoblack';
	margin: 3.33vw 0 0 0;
}

#thumbHotel .priceRoom h5 span{
	font-size: 1.41vw;
}

#thumbHotel .priceRoom button{
	color: #fff;
	font-size: 1vw;
	text-align: center;
	background: #008cd0;
	box-shadow: none;
	border-radius: 5px;
	padding: 1.25vw;
	margin-top: 3.33vw;
	border: none;
	font-family: 'latobold';
	width: 100%;
}

#thumbHotel .priceRoom button:hover, #thumbsFlights .paymentFlight button:hover, #thumbsFlights .panel-body button:hover, #descriptionHotel .boxPrice button:hover{
	background: #008cd0;
	border-radius: 10px;
	color: #ffffff;
}

#thumbsSearch .paginationList{
	text-align: center;
}

#thumbsSearch .paginationList li a{
	border-radius: 50%;
	color: #0777ae;
	font-size: 1.16vw;
	font-family: 'latoregular';
	border: #0777ae 1px solid;
	margin: 0 0.41vw;
	float: none;
	display: inline-block;
	padding: 0.5vw 1vw;
}

#thumbsSearch .paginationList li a:hover, #thumbsSearch .paginationList li a:focus, #thumbsSearch .paginationList li.active a{
	color: #ffffff;
	background-color: #0777ae;
}

#thumbsSearch .paginationList li a.arrows{
	background: #bbbbbb;
	border: none;
	color: #ffffff;
	padding: 0.83vw;
}

#thumbsSearch .paginationList li a.arrows i{
	font-size: 1vw;
	color: #ffffff;
	vertical-align: middle;
	display: block;
}

#thumbsSearch .paginationList li a:hover.arrows{
	background: #0777ae;
	border: none;
	color: #ffffff;
}

/*----- END LIST THUMBS HOTELS-----*/

/*----- END CONTENT LIST SEARCH -------------------------------------------------------------------------------*/

/*----- GO CONTENT INFO -----*/
.promotions{
	margin: 4.16vw 0;
}

.promotions h1{
	margin: 0;
	padding: 0 0 0.5vw 0;
	text-align: center;
	font-size: 2.41vw;
	color: #233034;
	font-family: 'latobold';
	text-transform: uppercase;
}

.grid figure {
	position: relative;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	border-radius: 10px;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	font-family: 'latoregular';
	font-size: 1.8vw;
	line-height: 2.2vw;
	color: #ffffff;
	margin: 0;
	background: rgba(0,0,0,0.6);
	width: 100%;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
	margin: 0;
}

figure.effect-goliath {
	background: #0777ae;
	border: #d7d7d7 4px solid;
}

figure.effect-goliath img,
figure.effect-goliath h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-goliath img {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-goliath h2,
figure.effect-goliath p {
	position: absolute;
	bottom: 0;
	padding: 20px;
}

figure.effect-goliath p {
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,50px,0);
	transform: translate3d(0,50px,0);
}

figure.effect-goliath:hover{
	border: #0777ae 4px solid;
}

figure.effect-goliath:hover img {
	-webkit-transform: translate3d(0,-80px,0);
	transform: translate3d(0,-80px,0);
}

figure.effect-goliath:hover h2 {
	-webkit-transform: translate3d(0,-100px,0);
	transform: translate3d(0,-100px,0);
}

figure.effect-goliath:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	background: #0777ae;
}

/*----- END CONTENT INFO -----*/

/*----- GO DETAIL HOTEL -----*/

.wrapperHotelDatail, .wrapperReservation, .wrapperFlights{
	padding: 2.5vw 0;
}

#descriptionHotel .titleHotel{
	font-size: 2.33vw;
	color: #233034;
	font-family: 'latobold';
	margin: 0;
}

#descriptionHotel .adress{
	color: #979797;
	font-size: 1.33vw;
	font-family: 'latolight';
	line-height: 3.16vw;
}

#descriptionHotel .adress a{
	font-size: 1.33vw;
	padding-left: 0.83vw;
}

#descriptionHotel ul.starsHotel{
	padding: 0;
	margin-top: 0.83vw;
}

#descriptionHotel ul.starsHotel li{
	display: inline-block;
	color: #febb02;
	font-size: 1.66vw;
}

#descriptionHotel .descriptionHotel{
	margin: 2.5vw 0;
	text-align: justify;
}

#descriptionHotel .descriptionHotel p{
	font-family: 'latolight';
	color: #233034;
	font-size: 1.33vw;
	margin-bottom: 0.83vw;
	line-height: 2vw;
}

#descriptionHotel .descriptionHotel p span{
	font-family: 'latobold';
}

#descriptionHotel .boxPrice p{
	font-size: 1.16vw;
	font-family: 'latoregular';
	color: #233034;
}

#descriptionHotel .boxPrice h5{
	color: #008cd0;
	font-size: 2vw;
	font-family: 'latoblack';
	margin: 2.5vw 0;
}

#descriptionHotel .boxPrice button{
	color: #ffffff;
	font-size: 1vw;
	text-align: center;
	font-family: 'latobold';
	background: #008cd0;
	box-shadow: none;
	border-radius: 5px;
	border: none;
	padding: 1.25vw;
	width: 100%;
}

#descriptionHotel .galleryHotel{
	margin-top: 20px;
}

#descriptionHotel .itemsHotel{
	margin: 2.08vw 0;
}

#descriptionHotel .itemsHotel h5{
	color: #192731;
	font-size: 1.33vw;
	font-family: 'latobold';
	padding-bottom: 0.83vw;
	border-bottom: #008cd0 1px solid;
	text-transform: uppercase;
}

#descriptionHotel .itemsHotel ul{
	padding: 0;
}

#descriptionHotel .itemsHotel ul li{
	color: #192731;
	font-size: 1.33vw;
	font-family: 'latolight';
	padding-bottom: 0.83vw;
}

#descriptionHotel .itemsHotel ul li i{
	color: #008cd0;
	padding-right: 0.41vw;
	vertical-align: middle;
}

#descriptionHotel .titleSection{
	font-family: 'latobold';
	font-size: 2.33vw;
	color: #233034;
	padding-bottom: 0.83vw;
	border-bottom: #008cd0 1px solid;
	margin-top: 0;
}

/*LIST ROOMS MOBILE*/

#descriptionHotel .listRooms .thumbRoom{
	background: #f5f5f5 none repeat scroll 0 0;
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	margin-bottom: 2.5vw;
	overflow: hidden;
	padding: 15px 0;
	text-align: center;
}

#descriptionHotel .listRooms .thumbRoom img{
    cursor: pointer;
}

#descriptionHotel .listRooms .thumbRoom h4{
	color: #008cd0;
	font-family: "latobold";
	font-size: 14px;
}

#descriptionHotel .listRooms .thumbRoom ol, #descriptionHotel .listRooms .thumbRoom ul{
    margin: 0 0 10px 0;
    padding: 0;
}

#descriptionHotel .listRooms .thumbRoom ol li{
    text-align: left;
    display: inline-block;
    color: #0ab21b;
    font-size: 12px;
    list-style: none;
    margin: 0 10px 0 0;
}

#descriptionHotel .listRooms .thumbRoom ol li i{
    margin-right: 5px;
}

#descriptionHotel .listRooms .thumbRoom ul li{
    text-align: left;
    display: inline-block;
    list-style: none;
    font-family: "latobold";
    font-size: 12px;
}

#descriptionHotel .listRooms .thumbRoom h3{
    font-family: "latobold";
    font-size: 12px;
    margin-top: 0;
}

#descriptionHotel .listRooms .thumbRoom h3 span{
    color: #008cd0;
    font-family: "latoblack";
    font-size: 14px;
    margin-left: 5px;
}

#descriptionHotel .listRooms .thumbRoom select{
    -moz-appearance: none;
    background: rgba(0, 0, 0, 0) url("../images/arrow-down-select.png") no-repeat scroll 92% 50%;
    border: 1px solid #192731;
    border-radius: 5px;
    color: #192731;
    cursor: pointer;
    font-family: "latolight";
    font-size: 14px;
    height: 30px;
    margin: 0 auto;
    padding: 0 12px;
    width: 80px;
}

#descriptionHotel .listRooms .thumbRoom button{
    background: #008cd0 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    box-shadow: none;
    color: #ffffff;
    font-family: "latobold";
    font-size: 13px;
    padding: 12px;
    text-align: center;
    margin: 10px 0;
    width: 100px;
}

#descriptionHotel .listRooms .thumbRoom button:hover{
    border-radius: 10px;
}

/*LIST ROOMS DESKTOP*/

.listRooms table{
	margin-top: 20px;
	border: #008cd0 1px solid;
}

.listRooms table th{
	text-align: center;
	color: #fff;
	border: #008cd0 1px solid !important;
	background: #02003B;
	font-family: 'latoregular';
	font-size: 14px;
}

.listRooms table td{
	border: #008cd0 1px solid !important;
	vertical-align: middle !important;
}

#descriptionHotel table td h5{
	color: #008cd0;
	font-family: 'latoblack';
	font-size: 14px;
}

#descriptionHotel table td button{
	background: #008cd0;
	border: none;
	border-radius: 5px;
	box-shadow: none;
	color: #ffffff;
	font-family: 'latobold';
	font-size: 13px;
	padding: 1.25vw;
	text-align: center;
}

#descriptionHotel table td button:hover{
	background: #008cd0;
	border-radius: 10px;
	color: #ffffff;
}

#descriptionHotel table td select{
	height: 30px;
	width: 55px;
	border-radius: 5px;
	border: #192731 1px solid;
	background: url(../images/arrow-down-select.png) no-repeat 92% 50% !important;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	color: #192731;
	font-family: 'latolight';
	font-size: 14px;
	cursor: pointer;
	padding: 0 12px;
	margin: 0 auto;
}

#descriptionHotel table td ul, #descriptionHotel table td ol{
	padding:0;
}

#descriptionHotel table td ul li{
	display: inline-block;
}

#descriptionHotel table td ol li{
	list-style: inside;
	margin-bottom: 10px;
	font-size: 12px;
	color: #0ab21b;
}

#descriptionHotel table td ol li i{
	padding-right: 5px;
}

#descriptionHotel table td h4{
	font-size: 15px;
	font-family: 'latobold';
	color: #008cd0;
}

#descriptionHotel table td img{
	margin: 15px 0;
	cursor: pointer;
}
/*----- END DETAIL HOTEL -----*/

/*----- GO PROCESS PAYMENT RESERVATION -----*/
#infoReserva{
	border-radius: 10px;
	background: #363636;
	padding: 1.66vw 1.25vw;
	margin-bottom: 20px;
}

#infoReserva .titleReserva, .datesPayment h5{
	color: #008cd0;
	font-size: 16px;
	font-family: 'latobold';
	margin: 1.25vw 0;
}

#infoReserva img{
	width: 40%;
	height: auto;
	border: #fcfeff 2px solid;
	margin: 0 auto;
}

#infoReserva ul{
	padding: 0;
}

#infoReserva li{
	display: inline-block;
	color: #febb02;
	font-size: 1.16vw;
	margin-right: 0.41vw;
}

#infoReserva p{
	color: #fcfeff;
	font-size: 14px;
	font-family: 'latolight';
	margin-bottom: 0.41vw;
}

#infoReserva p span{
	font-family: 'latobold';
}

#infoReserva h3{
	padding: 1.25vw;
    font-family: 'latobold';
	font-size: 10px;
	color: #fff;
	text-transform: uppercase;
	background-color: #ff5b5b;
	margin: 1.66vw 0;
    border-radius: 5px;
}

#infoReserva aside{
    font-family: 'latobold_italic';
	color: #febb02;
	font-size: 12px;
	margin-top: 1.66vw;
}

#infoReserva .totalPayment{
	border-top: #fcfeff 1px solid;
}

#infoReserva .totalPayment h2{
	font-size: 16px;
	font-family: 'latobold';
	color: #fcfeff;
}

#infoReserva .headerDetail{
	background: #008cd0;
	padding: 0.41vw 0.83vw;
	margin-top: 1.66vw;
}

#infoReserva .headerDetail p{
	margin: 0;
}

#infoReserva .subHeaderDetail {
	border-bottom: #008cd0 1px solid;
	padding: 0.41vw 0;
	margin-bottom: 0.83vw;
}

#infoReserva  .infoDetail{
	text-align: center;
}

#infoReserva  .infoDetail h6{
	text-transform: uppercase;
	font-size:  1.5vw;
	font-family: 'latobold';
	color: #008cd0;
}

#infoReserva .imgAeroline{
	margin: 0.83vw auto;
	background: #fff;
	border-radius: 50%;
	padding: 0.41vw 0;
	height: 60px;
	width: 60px;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

#processPayment .panel-default{
	margin-bottom: 1.66vw;
}

#processPayment .panel-heading{
	background-color: #02003B;
	padding: 0.83vw 1.25vw;
}

#processPayment .panel-title{
	font-family: 'latoregular';
	font-size: 1.33vw;
	color: #fcfeff;
}

#processPayment .panel-body h5{
	font-family: 'latoregular';
	font-size: 1.33vw;
	color: #233034;
}

#processPayment .panel-body input{
	border-radius: 5px;
	font-family: 'latolight';
	height: 35px;
	color: #192731;
	border: #192731 1px solid;
	margin-top: 0.83vw;
}

#processPayment .panel-body select{
	border-radius: 5px;
	font-family: 'latolight';
	height: 35px;
	color: #192731;
	border: #192731 1px solid;
	margin-top: 0.83vw;
	background: url(../images/arrow-back-white.png) no-repeat 92% 50% #fff !important;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
}

#processPayment .panel-body textarea{
	border: #192731 1px solid;
	border-radius: 5px;
	font-family: 'latolight';
	color: #192731;
	resize: none;
	height: 100%;
	min-height: 16.66vw;
	margin-top: 0.83vw;
}

#processPayment .panel-body .bg-success{
	padding: 1.25vw 0.83vw;
	background: #ff5b5b;
	color: #fcfeff;
	font-size: 1.16vw;
    font-family: 'latobold';
    border-radius: 5px;
}

#processPayment .buttonPayment button{
	background: #0777ae none repeat scroll 0 0;
	border: medium none;
	border-radius: 5px;
	box-shadow: none;
	color: #e3e3e3;
	font-family: "latobold";
	font-size: 1.33vw;
	height: 3.33vw;
	text-align: center;
	text-transform: uppercase;
	padding: 0 3.33vw;
}

#processPayment .datesPayment{
	border-top: #192731 1px solid;
	margin-top: 1.66vw;
}

#processPayment .datesPayment h2{
	font-family: 'latoregular';
	font-size: 1.66vw;
	color: #233034;
}

/*----- GO PROCESS PAYMENT RESERVATION -----*/

/*----- GO SEARCH VUELOS -----*/
#thumbsFlights{
	border-radius: 5px;
	border: #e1e1e1 1px solid;
	height: 100%;
	margin-bottom: 2.5vw;
	overflow: hidden;
	background: #f5f5f5;
	padding: 1.66vw 1.66vw 0 1.66vw;
}

#thumbsFlights:hover{
	border-color: #008cd0;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(0,140,208,0.65);
    -moz-box-shadow: 0px 0px 15px 3px rgba(0,140,208,0.65);
    box-shadow: 0px 0px 15px 3px rgba(0,140,208,0.65);
}

#thumbsFlights .panel-heading{
	background-color: #02003b;
	padding: 0 1.25vw;
}

#thumbsFlights .paymentFlight{
	margin-top: 20%;
	position: absolute;
	right: 18px;
	text-align: center;
	transform: translateY(-20%);
}

#thumbsFlights .paymentFlight p{
	font-size: 1.16vw;
	font-family: 'latoregular';
	color: #233034;
}

#thumbsFlights .paymentFlight h5{
	color: #008cd0;
	font-size: 2vw;
	font-family: 'latoblack';
	margin: 2.5vw 0;
}

#thumbsFlights .paymentFlight button{
	color: #ffffff;
	font-size: 1vw;
	text-align: center;
	font-family: 'latobold';
	background: #008cd0;
	box-shadow: none;
	border-radius: 5px;
	border: none;
	padding: 1.25vw;
}

#thumbsFlights .panel-heading h3{
	background: #333;
	padding: 0.41vw;
	color: #fff;
	font-size: 1.33vw;
	font-family: 'latobold';
	margin: 1vw 0;
}

#thumbsFlights .panel-heading h6{
	color: #fcfeff;
	font-size: 1.33vw;
	font-family: 'latobold';
	margin-bottom: 0;
}

#thumbsFlights .panel-heading h6 span{
	color: #fcfeff;
	font-size: 1.08vw;
	font-family: 'latolight';
	margin-left: 7px;
}

#thumbsFlights .panel-body [type="radio"] {
	border: 0;
	height: 1px;
	margin: -1px;
	width: 1px;
	display: none;
}

#thumbsFlights .panel-body  label {
	display: inline-block;
	cursor: pointer;
	font-size: 1.16vw;
	float: left;
	padding: 0;
	color: #1d2d33;
}

#thumbsFlights .panel-body [type="radio"] + span:before {
	content: '';
	display: inline-block;
	width: 1.08vw;
	height: 1.08vw;
	vertical-align: middle;
	border-radius: 50%;           /*hard border*/
	border: 2px solid #0281c0;
	margin-right: 0.75vw;
	transition: 0.5s ease all;    /*animation here*/
}

#thumbsFlights .panel-body [type="radio"]:checked + span:before {
	background: #0281c0;
	box-shadow: 0 0 0 0.15em #0281c0;
	border: 1px solid #fff;
}

#thumbsFlights .panel-body p{
	color: #233034;
	font-size: 14px;
	font-family: 'latolight';
}

#thumbsFlights .panel-body button{
	background: #008cd0;
	border: none;
	border-radius: 5px;
	box-shadow: none;
	color: #ffffff;
	font-family: 'latobold';
	font-size: 1vw;
	padding: 1.25vw;
	text-align: center;
	width: 100%;
	max-width: 80px;
}

/*----- END SEARCH VUELOS -----*/

/*----- GO FOOTER  -----*/
.footer{
	background: #222222;
	padding: 2.5vw 0;
}

.footer .logoFooter{
	text-align: center;
}

.footer .logoFooter img{
	width: 16.66vw;
	height: auto;
	padding-top: 18%;
}

.footer h3{
	font-size: 1.66vw;
	color: #ffffff;
	padding-bottom: 1.25vw;
	border-bottom: #008cd1 1px solid;
	font-family: 'latobold';
	margin: 0;
}

.footer p{
	font-size: 1.08vw;
	color: #ffffff;
	font-family: 'latoregular';
	line-height: 1.83vw;
	margin-top: 1.83vw;
}

.footer .btnContact{
	height: 3.58vw;
	width: 20vw;
	border-radius: 5px;
	border: #464646 1px solid;
	background-color: rgba(0,0,0,0.2);
	color: #fff;
	font-family: 'latoregular';
	font-size: 1.33vw;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	fle
	text-align: center;
	margin-top: 2.25vw;
}

.socialMediaFooter ul{
	padding: 0;
	margin: 2.83vw 0 0 0;
}

.socialMediaFooter li{
	display: inline-block;
	margin: 0 0.41vw 0 0;
	/*background: rgba(17,17,17,0.2);
	border: #888888 1px solid;
	height: 2.91vw;
	width: 2.91vw;*/
	border-radius: 50%;
	text-align: center;
}

.socialMediaFooter li a{
	display:flex;
	height: 2.08vw;
	width: 2.08vw;
	border-radius: 50%;
	position: relative;
	top: 0.33vw;
	margin: 0 auto;
	line-height: 2.08vw;
	flex-flow: column;
	justify-content: center;
}

.socialMediaFooter li a i{
	color: #ffffff;
	font-size: 1.08vw;
}

.associations{
	background: #dddddd;
	border-top: #ffffff 1px solid;
	border-bottom: #ffffff 1px solid;
}

.associations ul{
	padding: 6px 0 0 0;
	margin: 0;
}

.associations li{
	display: inline-block;
}

.associations .linkConditions{
	float: right;
	color: #00224f;
	text-transform: uppercase;
	font-family: 'latoregular';
	font-size: 0.83vw;
	padding: 2.08vw 0 1.91vw 0;
	display: block;
}

.copyright{
	height: 5vw;
	background: #222222;
	text-align: center;
	padding-top: 1.91vw;
}

.copyright p{
	font-size: 10px;
	color: #999999;
	font-family: 'latoregular';
	font-style: italic;
}

.copyright p span{
	color: #008cd1;
	text-transform: uppercase;
}
/*----- END FOOTER -----*/


.scroller-flight {
	overflow: auto;
	height: 300px;
}

.multiple-destinations-label {
	margin-left: 13px;
}

.btn-detail {
	background: #008cd0;
	border: none;
	border-radius: 5px;
	box-shadow: none;
	color: #ffffff;
	font-family: 'latobold';
	font-size: 12px;
	padding: 1.25vw;
	text-align: center;
	width: 100%;
	max-width: 80px;
}

.irs-to{
	color: #FFFFFF!important;
}
.irs-from{
	color: #FFFFFF!important;
}



.i-check,
.i-radio {
	display: inline-block;
	*display: inline;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	width: 22px;
	height: 22px;
	border: 1px solid #ccc;
	cursor: pointer;
	top: 1px;
	left: -7px;
	/*margin-left: -13px;*/
	float: left;
	text-align: center;
	line-height: 20px;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
	position: relative;
	overflow: hidden;
}
.i-check:before,
.i-radio:before {
	content: '\f00c';
	font-family: 'FontAwesome';
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
	-webkit-transform: translate3d(0, -25px, 0);
	-moz-transform: translate3d(0, -25px, 0);
	-o-transform: translate3d(0, -25px, 0);
	-ms-transform: translate3d(0, -25px, 0);
	transform: translate3d(0, -25px, 0);
	display: block;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #00bce7;
	font-size: 14px;
}
.i-check.hover,
.i-radio.hover {
	border: 1px solid #ffffff;
}
.i-check.checked,
.i-radio.checked {
	border: 1px solid #ffffff;
	background: none;
}
.i-check.checked:before,
.i-radio.checked:before {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1;
	-ms-filter: none;
	filter: none;
}

.pagination-flight > .pagination > li > a, pagination-flight > .pagination > li > span {
	font-size:16px
}

.booking-item-address .fa-map-marker::before {
	font-size: inherit!important;
	color: #0777ae;
}

.flight-list{
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}

.fotorama__html,
.fotorama__stage__frame,
.fotorama__stage__shaft,
.fotorama__video iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}
.fotorama--fullscreen,
.fotorama__img {
	max-width: 99999px !important;
	max-height: 99999px !important;
	min-width: 0 !important;
	min-height: 0 !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	padding: 0 !important;
}
.fotorama__wrap .fotorama__grab {
	cursor: grab;
}
.fotorama__grabbing * {
	cursor: grabbing;
}
.fotorama__img,
.fotorama__spinner {
	position: absolute !important;
	top: 50% !important;
	left: 50% !important;
}
.fotorama__img {
	margin: -50% 0 0 -50%;
	width: 100%;
	height: 100%;
}
.fotorama__wrap--css3 .fotorama__arr,
.fotorama__wrap--css3 .fotorama__fullscreen-icon,
.fotorama__wrap--css3 .fotorama__nav__shaft,
.fotorama__wrap--css3 .fotorama__stage__shaft,
.fotorama__wrap--css3 .fotorama__thumb-border,
.fotorama__wrap--css3 .fotorama__video-close,
.fotorama__wrap--css3 .fotorama__video-play {
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.fotorama__caption,
.fotorama__nav:after,
.fotorama__nav:before,
.fotorama__stage:after,
.fotorama__stage:before,
.fotorama__wrap--css3 .fotorama__html,
.fotorama__wrap--css3 .fotorama__nav,
.fotorama__wrap--css3 .fotorama__spinner,
.fotorama__wrap--css3 .fotorama__stage,
.fotorama__wrap--css3 .fotorama__stage .fotorama__img,
.fotorama__wrap--css3 .fotorama__stage__frame {
	-webkit-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-o-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
.fotorama__wrap--video .fotorama__stage,
.fotorama__wrap--video .fotorama__stage__frame--video,
.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,
.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img,
.fotorama__wrap--video .fotorama__stage__shaft {
	-webkit-transform: none !important;
	-webkit-transform: none !important;
	-moz-transform: none !important;
	-o-transform: none !important;
	-ms-transform: none !important;
	transform: none !important;
}
.fotorama__wrap--css3 .fotorama__nav__shaft,
.fotorama__wrap--css3 .fotorama__stage__shaft,
.fotorama__wrap--css3 .fotorama__thumb-border {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
	-webkit-transition-timing-function: cubic-bezier(0.1, 0, 0.25, 1);
	-webkit-transition-timing-function: cubic-bezier(0.1, 0, 0.25, 1);
	-moz-transition-timing-function: cubic-bezier(0.1, 0, 0.25, 1);
	-o-transition-timing-function: cubic-bezier(0.1, 0, 0.25, 1);
	-ms-transition-timing-function: cubic-bezier(0.1, 0, 0.25, 1);
	transition-timing-function: cubic-bezier(0.1, 0, 0.25, 1);
	-webkit-transition-duration: 0ms;
	-webkit-transition-duration: 0ms;
	-moz-transition-duration: 0ms;
	-o-transition-duration: 0ms;
	-ms-transition-duration: 0ms;
	transition-duration: 0ms;
}
.fotorama__arr,
.fotorama__fullscreen-icon,
.fotorama__no-select,
.fotorama__video-close,
.fotorama__video-play,
.fotorama__wrap {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.fotorama__select {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
.fotorama__nav,
.fotorama__nav__frame {
	margin: 0;
	padding: 0;
}
.fotorama__caption__wrap,
.fotorama__nav__frame,
.fotorama__nav__shaft {
	-moz-box-orient: vertical;
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
}
.fotorama__wrap * {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.fotorama__caption__wrap {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.fotorama--hidden,
.fotorama__load {
	position: absolute;
	left: -99999px;
	top: -99999px;
	z-index: -1;
}
.fotorama__arr,
.fotorama__fullscreen-icon,
.fotorama__nav,
.fotorama__nav__frame,
.fotorama__nav__shaft,
.fotorama__stage__frame,
.fotorama__stage__shaft,
.fotorama__video-close,
.fotorama__video-play {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.fotorama__arr:before,
.fotorama__fullscreen-icon:before,
.fotorama__video-close:before,
.fotorama__video-play:before {
	font-family: 'FontAwesome';
}
.fotorama__thumb {
	background-color: rgba(127,127,127,0.2);
}
.fotorama {
	min-width: 1px;
	overflow: hidden;
}
.fotorama:not(.fotorama--unobtrusive)>:not(:first-child) {
	display: none;
}
.fullscreen {
	width: 100% !important;
	height: 100% !important;
	max-width: 100% !important;
	max-height: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden !important;
	background: #000;
}
.fotorama--fullscreen {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	float: none !important;
	z-index: 2147483647 !important;
	background: #000;
	width: 100% !important;
	height: 100% !important;
	margin: 0 !important;
}
.fotorama--fullscreen .fotorama__nav,
.fotorama--fullscreen .fotorama__stage {
	background: #000;
}
.fotorama__wrap {
	-webkit-text-size-adjust: 100%;
	position: relative;
	direction: ltr;
}
.fotorama__wrap--rtl .fotorama__stage__frame {
	direction: rtl;
}
.fotorama__nav,
.fotorama__stage {
	overflow: hidden;
	position: relative;
	max-width: 100%;
}
.fotorama__wrap--pan-y {
	-ms-touch-action: pan-y;
}
.fotorama__wrap .fotorama__pointer {
	cursor: pointer;
}
.fotorama__wrap--slide .fotorama__stage__frame {
	opacity: 1 !important;
	-ms-filter: none;
	filter: none;
}
.fotorama__stage__frame {
	overflow: hidden;
}
.fotorama__stage__frame.fotorama__active {
	z-index: 8;
}
.fotorama__wrap--fade .fotorama__stage__frame {
	display: none;
}
.fotorama__wrap--fade .fotorama__fade-front,
.fotorama__wrap--fade .fotorama__fade-rear,
.fotorama__wrap--fade .fotorama__stage__frame.fotorama__active {
	display: block;
	left: 0;
	top: 0;
}
.fotorama__wrap--fade .fotorama__fade-front {
	z-index: 8;
}
.fotorama__wrap--fade .fotorama__fade-rear {
	z-index: 7;
}
.fotorama__wrap--fade .fotorama__fade-rear.fotorama__active {
	z-index: 9;
}
.fotorama__wrap--fade .fotorama__stage .fotorama__shadow {
	display: none;
}
.fotorama__img {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	border: none !important;
}
.fotorama__error .fotorama__img,
.fotorama__loaded .fotorama__img {
	opacity: 1;
	-ms-filter: none;
	filter: none;
}
.fotorama--fullscreen .fotorama__loaded--full .fotorama__img,
.fotorama__img--full {
	display: none;
}
.fotorama--fullscreen .fotorama__loaded--full .fotorama__img--full {
	display: block;
}
.fotorama__wrap--only-active .fotorama__nav,
.fotorama__wrap--only-active .fotorama__stage {
	max-width: 99999px !important;
}
.fotorama__wrap--only-active .fotorama__stage__frame {
	visibility: hidden;
}
.fotorama__wrap--only-active .fotorama__stage__frame.fotorama__active {
	visibility: visible;
}
.fotorama__nav {
	font-size: 0;
	line-height: 0;
	text-align: center;
	display: none;
	white-space: nowrap;
	z-index: 5;
}
.fotorama__nav__shaft {
	position: relative;
	left: 0;
	top: 0;
	text-align: left;
}
.fotorama__nav__frame {
	position: relative;
	cursor: pointer;
}
.fotorama__nav--dots {
	display: block;
	position: absolute;
	bottom: 0;
}
.fotorama__nav--dots .fotorama__nav__frame {
	width: 18px;
	height: 30px;
}
.fotorama__nav--dots .fotorama__nav__frame--thumb,
.fotorama__nav--dots .fotorama__thumb-border {
	display: none;
}
.fotorama__nav--thumbs {
	display: block;
}
.fotorama__nav--thumbs .fotorama__nav__frame {
	padding-left: 0 !important;
}
.fotorama__nav--thumbs .fotorama__nav__frame:last-child {
	padding-right: 0 !important;
}
.fotorama__nav--thumbs .fotorama__nav__frame--dot {
	display: none;
}
.fotorama__dot {
	display: block;
	width: 6px;
	height: 6px;
	position: relative;
	top: 12px;
	left: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: #fff;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}
.fotorama__nav__frame.fotorama__active {
	pointer-events: none;
	cursor: default;
}
.fotorama__nav__frame.fotorama__active .fotorama__dot {
	opacity: 1;
	-ms-filter: none;
	filter: none;
}
.fotorama__active .fotorama__dot {
	background-color: #fff;
}
.fotorama__thumb {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
.fotorama__thumb-border {
	position: absolute;
	z-index: 9;
	top: 0;
	left: 0;
	border-style: solid;
	border-color: #ed8323;
}
.fotorama__caption {
	position: absolute;
	z-index: 12;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 14px;
	line-height: 1.5;
	color: #000;
}
.fotorama__caption a {
	text-decoration: none;
	color: #000;
	border-bottom: 1px solid;
	border-color: rgba(0,0,0,0.5);
}
.fotorama__caption a:hover {
	color: #333;
	border-color: rgba(51,51,51,0.5);
}
.fotorama__wrap--rtl .fotorama__caption {
	left: auto;
	right: 0;
}
.fotorama__wrap--no-captions .fotorama__caption,
.fotorama__wrap--video .fotorama__caption {
	display: none;
}
.fotorama__caption__wrap {
	background-color: rgba(255,255,255,0.9);
	padding: 5px 10px;
}
.fotorama__wrap--css3 .fotorama__spinner {
	-webkit-animation: spinner 24s infinite linear;
	-webkit-animation: spinner 24s infinite linear;
	-moz-animation: spinner 24s infinite linear;
	-o-animation: spinner 24s infinite linear;
	-ms-animation: spinner 24s infinite linear;
	animation: spinner 24s infinite linear;
}
.fotorama__wrap--css3 .fotorama__html,
.fotorama__wrap--css3 .fotorama__stage .fotorama__img {
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	-ms-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-timing-function: linear;
	-moz-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	-ms-transition-timing-function: linear;
	transition-timing-function: linear;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,
.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}
.fotorama__select {
	cursor: auto;
}
.fotorama__video {
	top: 32px;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	z-index: 10;
}
.fotorama__arr,
.fotorama__fullscreen-icon,
.fotorama__video-close,
.fotorama__video-play {
	position: absolute;
	z-index: 11;
	cursor: pointer;
}
.fotorama__arr {
	text-align: center;
	display: block;
	position: absolute;
	width: 32px;
	height: 32px;
	line-height: 32px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	top: 50%;
	margin: -16px 10px 0 10px;
	background: rgba(0,0,0,0.4);
	color: #fff;
	font-size: 20px;
}
.fotorama__arr:hover {
	background: rgba(0,0,0,0.6);
}
.fotorama__arr--prev {
	left: 0;
}
.fotorama__arr--prev:before {
	content: '\f104';
}
.fotorama__arr--next {
	right: 0;
}
.fotorama__arr--next:before {
	content: '\f105';
}
.fotorama__arr--disabled {
	pointer-events: none;
	cursor: default;
	*display: none;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
}
.fotorama__fullscreen-icon {
	width: 32px;
	height: 32px;
	line-height: 32px;
	top: 0;
	right: 0;
	z-index: 20;
	color: #fff;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: rgba(0,0,0,0.2);
	text-align: center;
	margin: 10px;
}
.fotorama__fullscreen-icon:hover {
	opacity: 1;
	-ms-filter: none;
	filter: none;
}
.fotorama__fullscreen-icon:before {
	content: '\f065';
}
.fotorama--fullscreen .fotorama__fullscreen-icon:before {
	content: '\f066';
}
.fotorama__video-play {
	width: 96px;
	height: 96px;
	left: 50%;
	top: 50%;
	margin-left: -48px;
	margin-top: -48px;
	background-position: 0 -64px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}
.fotorama__wrap--css2 .fotorama__video-play,
.fotorama__wrap--video .fotorama__stage .fotorama__video-play {
	display: none;
}
.fotorama__error .fotorama__video-play,
.fotorama__loaded .fotorama__video-play {
	opacity: 1;
	-ms-filter: none;
	filter: none;
	display: block;
}
.fotorama__nav__frame .fotorama__video-play {
	width: 32px;
	height: 32px;
	margin-left: -16px;
	margin-top: -16px;
	background-position: -64px -32px;
}
.fotorama__video-close {
	width: 32px;
	height: 32px;
	top: 0;
	right: 0;
	background-position: -64px 0;
	z-index: 20;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}
.fotorama__wrap--css2 .fotorama__video-close {
	display: none;
}
.fotorama__wrap--css3 .fotorama__video-close {
	-webkit-transform: translate3d(32px, -32px, 0);
	-moz-transform: translate3d(32px, -32px, 0);
	-o-transform: translate3d(32px, -32px, 0);
	-ms-transform: translate3d(32px, -32px, 0);
	transform: translate3d(32px, -32px, 0);
}
.fotorama__wrap--video .fotorama__video-close {
	display: block;
	opacity: 1;
	-ms-filter: none;
	filter: none;
}
.fotorama__wrap--css3.fotorama__wrap--video .fotorama__video-close {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon,
.fotorama__wrap--video .fotorama__arr,
.fotorama__wrap--video .fotorama__fullscreen-icon {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}
.fotorama__wrap--css2.fotorama__wrap--no-controls .fotorama__arr,
.fotorama__wrap--css2.fotorama__wrap--no-controls .fotorama__fullscreen-icon,
.fotorama__wrap--css2.fotorama__wrap--video .fotorama__arr,
.fotorama__wrap--css2.fotorama__wrap--video .fotorama__fullscreen-icon {
	display: none;
}
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon,
.fotorama__wrap--css3.fotorama__wrap--video .fotorama__fullscreen-icon {
	-webkit-transform: translate3d(32px, -32px, 0);
	-moz-transform: translate3d(32px, -32px, 0);
	-o-transform: translate3d(32px, -32px, 0);
	-ms-transform: translate3d(32px, -32px, 0);
	transform: translate3d(32px, -32px, 0);
}
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev,
.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--prev {
	-webkit-transform: translate3d(-48px, 0, 0);
	-moz-transform: translate3d(-48px, 0, 0);
	-o-transform: translate3d(-48px, 0, 0);
	-ms-transform: translate3d(-48px, 0, 0);
	transform: translate3d(-48px, 0, 0);
}
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next,
.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--next {
	-webkit-transform: translate3d(48px, 0, 0);
	-moz-transform: translate3d(48px, 0, 0);
	-o-transform: translate3d(48px, 0, 0);
	-ms-transform: translate3d(48px, 0, 0);
	transform: translate3d(48px, 0, 0);
}
.fotorama__wrap--css3 .fotorama__arr,
.fotorama__wrap--css3 .fotorama__fullscreen-icon,
.fotorama__wrap--css3 .fotorama__video-close,
.fotorama__wrap--css3 .fotorama__video-play {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	transition-property: transform, opacity;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.fotorama__nav:after,
.fotorama__nav:before,
.fotorama__stage:after,
.fotorama__stage:before {
	content: "";
	display: block;
	position: absolute;
	text-decoration: none;
	top: 0;
	bottom: 0;
	width: 10px;
	height: auto;
	z-index: 10;
	pointer-events: none;
	background-repeat: no-repeat;
	-webkit-background-size: 1px 100%, 5px 100%;
	-moz-background-size: 1px 100%, 5px 100%;
	background-size: 1px 100%, 5px 100%;
}
.fotorama__nav:before,
.fotorama__stage:before {
	background-position: 0 0, 0 0;
	left: -10px;
}
.fotorama__nav.fotorama__shadows--left:before,
.fotorama__stage.fotorama__shadows--left:before {
	left: 0;
}
.fotorama__nav:after,
.fotorama__stage:after {
	background-position: 100% 0, 100% 0;
	right: -10px;
}
.fotorama__nav.fotorama__shadows--right:after,
.fotorama__stage.fotorama__shadows--right:after {
	right: 0;
}
.fotorama--fullscreen .fotorama__nav:after,
.fotorama--fullscreen .fotorama__nav:before,
.fotorama--fullscreen .fotorama__stage:after,
.fotorama--fullscreen .fotorama__stage:before,
.fotorama__wrap--fade .fotorama__stage:after,
.fotorama__wrap--fade .fotorama__stage:before,
.fotorama__wrap--no-shadows .fotorama__nav:after,
.fotorama__wrap--no-shadows .fotorama__nav:before,
.fotorama__wrap--no-shadows .fotorama__stage:after,
.fotorama__wrap--no-shadows .fotorama__stage:before {
	display: none;
}

/*
.fotorama__stage{
	height: 378px!important;
}*/
