/app/bootstrap*
!app/cache/.gitkeep
!app/logs/.gitkeep

app/bootstrap.php.cache
app/bootstrap_cache.php.cache
app/config/parameters.ini
app/config/parameters.yml
app/cache/*
app/logs/*
vendor/*
web/bundles/*
web/uploads/*
web/assets/vendor/
web/*.pdf

/app/phpunit.xml
/build/
/bin/
/composer.phar
/nbproject/
/vendor
/.idea