{% extends 'VientoSurAppAppBundle::layoutFlight.html.twig' %}

{% block content %}
    {% include 'VientoSurAppAppBundle:Email:bookingFlightDetail.html.twig' %}
    <h1>Reserva finalizada</h1>
{% endblock %}