
<form name="searchVuelos" id="search-vuelos" action ="{{ path('viento_sur_app_app_homepage_send_flights')}}" method="POST">
    <ul class="trip-type-container" id="contenedorTipoViaje">
        {#        <li>
                    <input type="radio" id="roundTripType" name="tripType" value="1"  checked="checked"/>
                    <label for="roundTripType" id="lbl-round">Ida y vuelta</label>
                </li>#}
        <li>
            <input type="checkbox" id="oneWayTripType" name="tripType"  value="2"  />
            <label for="oneWayTripType" id="lbl-oneway">Sólo ida</label>
        </li>
        {#        <li>
                    <input type="radio" id="multipleDestinationsTripType" name="tripType" value="3"  />
                    <label for="multipleDestinationsTripType" id="lbl-multiple">Múltiples destinos</label>
                </li>#}
    </ul>

    <div class="contenedorCiudades" id="contenedorCiudades">


        <div id="originContainer" class="city-container">	<!--Origin city input-->
            <label id="origenLabel" for="origen">Origen</label>
            <input id="autocomplete-origen" name="origin" type="text" class="city-input required" data-provide="typeahead" placeholder="Ingrese una ciudad de Origen" 
                   value=""/>
            <input type="hidden" id="origen-city" style="display:none" name="origen-city" class="required" value=""/>
        </div>
        <div id="destinationContainer" class="city-container">	<!--Destination city input-->
            <label id="destinoLabel" for="destino">Destino</label>
            <input id="autocomplete-destino" name= "destination" type="text" class="city-input required" data-provide="typeahead" placeholder="Ingrese una ciudad de Destino" 
                   value=""/>
            <input type="hidden" id ="destino-city" style="display:none" name="destino-city" class="required" value="">
        </div>
        <div class="clearBox"></div>		 	
    </div>

    <div class="flightDates-container" id="contenedorFechas">
        <!-- dateCalendar.ftl -->

        <input id="flightsMinDays" type="hidden" class="ignore" value="1" />

        <div class="date-container" id="fromDateInputContainer">	<!--Departure date input-->
            <label id="fromDateLabel" for="fromCalendar">Partida</label><br />
            <input type="text" data-date="" data-date-format="yyyy-mm-dd"  class="input-date required datepicker" id="fromCalendarVuelo" name="fromCalendarVuelo" onFocus="closeToVuelo(this);">
            {#            <input type="text" placeholder="dd-mm-aaaa" class="input-date required" id="fromCalendar" name="fromDate" >#}

            <span class="mainSprite calendar"></span>
        </div>
        <p class="date-separator">&nbsp;</p>
        <div class="date-container" id="toDateInputContainer">	<!--Arrival date input-->
            <label id="toDateLabel" for="toCalendar">Regreso</label><br />
            <input type="text" data-date="" data-date-format="yyyy-mm-dd"  class="input-date required datepicker" id="toCalendarVuelo" name="toCalendarVuelo" onFocus="closeToVuelo(this);">
            {#            <input type="text" placeholder="dd-mm-aaaa" class="input-date required" id="toCalendar" name="toDate">#}

            <span class="mainSprite calendar"></span>
        </div>
        <div class="clearBox"></div>		 	
    </div>
    <div id="passengers">
        <!-- passengers.ftl -->
        <div class="passengers-container">
            <label id="adultSelectLabel" for="adultsSelect">Adultos</label>
            <select class="selectNum" id="adultsSelect" name="adultsSelect">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
            </select>
        </div>
        <div class="passengers-container">
            <label id="childrenSelectLabel" for="childrenSelect">Menores</label>       
            <select class="selectNum" id="childrenSelect" name="childrenSelect" onChange="mostrarInputsChildren(false)"><br />
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
            </select>
        </div>

        <div class="passengers-container">
            <label id="childrenSelectLabel" for="infantsSelect">infantes</label>       
            <select class="selectNum" id="infantsSelect" name="infantsSelect" onChange="mostrarInputsChildren(false)"><br />
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
            </select>
        </div>  	

        <!-- advancedOptions.ftl -->
    </div>
    <div class="mod-searchbutton">
        <button type="submit">Buscar</button>
        {#<a class="buttonContainer">
                <span onclick="submitSearchForm()">Buscar</span>
        </a>#}
    </div>		
</form>

<script>
    jQuery(document).ready(function () {

        $("#oneWayTripType").click(function () {
            if ($("#oneWayTripType").is(':checked')) {
                $("#toDateInputContainer").hide();
            } else {
                $("#toDateInputContainer").show();
            }

        });

       var url = Routing.generate('vuelo_autocomplete');
        $('#autocomplete-origen').autocomplete({
            serviceUrl: url,
            onSelect: function (suggestion) {
                $("#origen-city").val(suggestion.data);
            }
        });
        
        $('#autocomplete-destino').autocomplete({
            serviceUrl: url,
            onSelect: function (suggestion) {
                $("#destino-city").val(suggestion.data);
            }
        });
        $('#fromCalendarVuelo').datepicker();
        $('#toCalendarVuelo').datepicker();



    });
    var cal;

    function closeToVuelo(event)
    {
        $("#toCalendarVuelo").datepicker("hide");
    }
    function closeFromVuelo(event)
    {
        $("#fromCalendarVuelo").datepicker("hide");
    }
</script>

{#$$$$$$$$$$$$$$$$$$#}
        <div class="tab-content">
            <div class="tab-pane fade in active" id="flight-search-1">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
                                    <label>Origen</label>
                                    <input class="typeahead form-control" placeholder="Destino, Codigo postal" type="text" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
                                    <label>Destino</label>
                                    <input class="typeahead form-control" placeholder="Destino, Código postal" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-daterange" data-date-format="M d, D">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                        <label>Partida</label>
                                        <input class="form-control required" name="start" type="text" required="" placeholder="dd/mm/yyyy" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                        <label>Regreso</label>
                                        <input class="form-control required" name="end" type="text" required="" placeholder="dd/mm/yyyy" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="form-group form-group-lg form-group-select-plus">
                            <label>Adultos</label>
                            <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                <label class="btn btn-primary active">
                                    <input type="radio" name="options" />1</label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="options" />2</label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="options" />3</label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="options" />3+</label>
                            </div>
                            <select class="form-control hidden">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option selected="selected">4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group form-group-lg form-group-select-plus">
                            <label>Nińos</label>
                            <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                <label class="btn btn-primary active">
                                    <input type="radio" name="options" />1</label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="options" />2</label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="options" />3</label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="options" />3+</label>
                            </div>
                            <select class="form-control hidden">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option selected="selected">4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                            </select>
                        </div>
                    </div>

                    <!--se abre si hay menores-->
                    <div class="col-md-12 MenoresNum mb10">
                        <div class="form-group form-group-lg form-group-select-plus">
                            <label for="field-hotel-adult">Edad de los menores al finalizar el viaje</label>
                        </div>

                        <!--depende del numero de menores-->
                        <div class="col-md-3">
                            <div class="form-group form-group-lg form-group-select-plus">
                                <select id="field-rental-adult" class="form-control " name="adult_number">
                                    <option value="NA">Menor 1</option>
                                    <option value="M">0 a 24 meses (en brazos)</option>
                                    <option value="I">0 a 24 meses (en asiento)</option>
                                    <option value="C">2 a 11 años</option>
                                    <option value="A">12 años o más</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group form-group-lg form-group-select-plus">
                                <select id="field-rental-adult" class="form-control " name="adult_number">
                                    <option value="NA">Menor 2</option>
                                    <option value="M">0 a 24 meses (en brazos)</option>
                                    <option value="I">0 a 24 meses (en asiento)</option>
                                    <option value="C">2 a 11 años</option>
                                    <option value="A">12 años o más</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group form-group-lg form-group-select-plus">
                                <select id="field-rental-adult" class="form-control " name="adult_number">
                                    <option value="NA">Menor 3</option>
                                    <option value="M">0 a 24 meses (en brazos)</option>
                                    <option value="I">0 a 24 meses (en asiento)</option>
                                    <option value="C">2 a 11 años</option>
                                    <option value="A">12 años o más</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group form-group-lg form-group-select-plus">
                                <select id="field-rental-adult" class="form-control " name="adult_number">
                                    <option value="NA">Menor 4</option>
                                    <option value="M">0 a 24 meses (en brazos)</option>
                                    <option value="I">0 a 24 meses (en asiento)</option>
                                    <option value="C">2 a 11 años</option>
                                    <option value="A">12 años o más</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{#$$$$$$$$$$$$$$$$$$#}