<div class="content-sidebar">
    <form class="booking-item-dates-change mb5" name="searchFlight" id="search-flights" action ="{{ path('viento_sur_send_flights', { 'offset': '1', 'limit':'10' } )}}" method="GET">
        {#<div class="form-group form-group-icon-left form-icon-lg">#}
            {#<i class="fa fa-map-marker input-icon input-icon-hightlight"></i>#}
            {#<label class="mfont">Origen</label>#}
            {#<!--colocar valor por defecto que trae la busqueda inicial-->#}
            {#<input id="autocomplete" name="autocomplete" type="text" class="city-input form-control" data-provide="typeahead" placeholder="Desde dónde viajas"/>#}
            {#<input id="destinationCity" name="cityInput" type="hidden"/>#}
        {#</div>#}
        {#<div class="form-group form-group-icon-left form-icon-lg"><i class="fa fa-map-marker input-icon input-icon-hightlight"></i>#}
            {#<label class="mfont">Destino</label>#}
            {#<!--colocar valor por defecto que trae la busqueda inicial-->#}
            {#<input id="autocomplete" name="autocomplete" type="text" class="city-input form-control" data-provide="typeahead" placeholder="Hacia dónde viajas"/>#}
            {#<input id="destinationCity" name="cityInput" type="hidden"/>#}
        {#</div>#}

        {#<div class="input-daterange" data-date-format="d M, D">#}
            {#<div class="form-group form-group-icon-left form-icon-lg"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>#}
                {#<label class="sfont">Partida</label>#}
                {#<input id="field-hotel-checkin" class="form-control required" name="start" type="text" required="" placeholder="dd/mm/yyyy" value="{{app.session.get('checkin_date')}}"/>#}
            {#</div>#}
            {#<div class="form-group form-group-icon-left form-icon-lg"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>#}
                {#<label class="sfont">Regeso</label>#}
                {#<input id="field-hotel-checkout" class="form-control required" name="end" type="text" required="" placeholder="dd/mm/yyyy" value="{{app.session.get('checkout_date')}}"/>#}
            {#</div>#}
        {#</div>#}

        {#<div class="form-group">#}
            {#<label class="sfont">Adultos</label>#}
            {#<select class="form-control" name="adults-plus">#}
                {#<option selected="selected">1</option>#}
                {#<option>2</option>#}
                {#<option>3</option>#}
                {#<option >4</option>#}
                {#<option>5</option>#}
                {#<option>6</option>#}
                {#<option>7</option>#}
                {#<option>8</option>#}
                {#<option>9</option>#}
                {#<option>10</option>#}
                {#<option>11</option>#}
                {#<option>12</option>#}
                {#<option>13</option>#}
                {#<option>14</option>#}
            {#</select>#}
        {#</div>#}

        {#<div class="form-group">#}
            {#<label class="sfont">Niños</label>#}
            {#<select class="form-control" id="childrens-plus" name="childrens-plus">#}
                {#<option selected="selected">0</option>#}
                {#<option>1</option>#}
                {#<option>2</option>#}
                {#<option>3</option>#}
                {#<option>4</option>#}
                {#<option>5</option>#}
                {#<option>6</option>#}
                {#<option>7</option>#}
            {#</select>#}
        {#</div>#}

        <input class="btn btn-primary" type="submit" value="Buscar" />
    </form>
</div>
<div class="gap-small"></div>

