# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       smtp.gmail.com
    mailer_user:       icox.automatic.service@gmail.com
    mailer_password:   la-virginia
    mailer_port:       465
    mailer_encryption: ssl
    mailer_auth_mode:  login

    # A secret key that's used to generate certain security-related tokens
    secret:            00f3d759b02b0fd560a3e4c155f76f024144ced5

    # Api key de despegar
    api_key:           ca8fe17f100646cbbefa4ecddcf51350
    api_key_test:      2864680fe4d74241aa613874fa20705f
    service_version:   v3
    service_url:       https://api.despegar.com
    service_vault_url: https://pbdyy2.despegar.com
    service_vault_url_test: https://www.despegar.com/sandbox

    #Agent code de despegar
    agent_code: AG32502

    #Risk providers
    risk_provider_id_a: dtdgssmm
    risk_provider_id_a_test: dtdgssmm
    risk_provider_id_b: k8vif92e
    risk_provider_id_b_test: 1snn5n9w

    # Le indica al servicio si utiliza la key de test
    is_test:           true

    google_url_shorter: 'https://www.googleapis.com/urlshortener/v1/url'
    google_api_key_shorter: 'AIzaSyArVearZl_EkMJP1moq2Zksa5oZhHzlGt4'

    items_per_page: 10