{% extends ':admin:base.html.twig' %}

{% block body %}
    <body {% block body_class %}{% endblock %}>
    <div class="container d-table">
        <div class="d-100vh-va-middle">
            <div class="row">
                {% block content %}
                    <h4>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</h4>
                    <h6><a href="{{ path('user_edit', {'id': app.user.id}) }}">Complete your profile</a></h6>
                {% endblock %}
            </div>
        </div>
    </div>
    </body>
{% endblock %}