{% extends 'VientoSurAppAppBundle::layoutHotel.html.twig' %}

{% block content %}

    <div class="container bs-docs-container">
        <table class="table">
            <tr>
                <th>
                    <b>
                        <h3>¡Ups! Ha ocurrido un error en su búsqueda.</h3>
                    </b>
                </th>
            </tr>
            <tr>
                <td>
                    <b>
                       Es posible que el Hotel seleccionado no se encuentre, intente nuevamente seleccionando un Hotel en el listado anterior.
                    </b>
                </td>
            </tr>
        </table>
    </div>

{% endblock %}