{% extends 'VientoSurAppAppBundle::layoutHotel.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Hotel Casa Antigua</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Foto del hotel</div>
            <div class="col-md-4">
                <div>Email:</div>
                <div>Reserva:</div>
                <div>Check-in</div>
                <div>Check-out</div>
            </div>
            <div class="col-md-4">
                <div>Código de ingreso al hotel</div>
                <div>Número de solicitud de compra</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Mapa
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Habitaciones
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Pago
            </div>
            <div class="col-md-12">
                <div>Precio por noche:</div>
                <div>6 Noches; 1 Habitación:</div>
                <div>Impuestos y tasas</div>
                <div>Total:</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Políticas de cancelación
            </div>
        </div>
    </div>
{% endblock %}