<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'admin.home' | trans }}</a></li>
    <li class="breadcrumb-item active">{% block breadcrumb %}{% endblock %}</li>
</ol>