.eva-card-container {
    min-width: 65px;
    height: 40.1px;
    border: 1px solid #DDD;
    border-bottom-color: #CCC;
    background: #EEE;
    position: relative;
    display: inline-block;
    overflow: hidden;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.eva-card-body {
    background-image: url("https://a248.e.akamai.net/www.despegar.com/book/hotels/img-versioned/26.60/despegar/cards-vertical-default.png?ts=1479129574919");
    background-repeat: no-repeat;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
}
.eva-card-header {
    display: block;
    -moz-border-radius: 2px 2px 0px 0px;
    -webkit-border-radius: 2px;
    border-radius: 2px 2px 0px 0px;
    color: white;
    height: 17px;
    line-height: 17px;
    text-align: center;
    font-size: 11px;
    background: #444444;
    padding: 0 3px;
    z-index: 1;
    position: relative;
}
.eva-composed > .eva-card-body {
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    margin-top: 9px;
    width: 65px;
}
.eva-card-body.PP,
.eva-card-body[class*="PP-"] {
    background-position: center -0px;
}
.eva-card-body.PVC,
.eva-card-body[class*="PVC-"] {
    background-position: center -40px;
}
.eva-card-body.FBEN,
.eva-card-body[class*="FBEN-"] {
    background-position: center -80px;
}
.eva-card-body.LOT,
.eva-card-body[class*="LOT-"] {
    background-position: center -120px;
}
.eva-card-body.BOG,
.eva-card-body[class*="BOG-"] {
    background-position: center -160px;
}
.eva-card-body.EXT,
.eva-card-body[class*="EXT-"] {
    background-position: center -200px;
}
.eva-card-body.AHO,
.eva-card-body[class*="AHO-"] {
    background-position: center -240px;
}
.eva-card-body.CF,
.eva-card-body[class*="CF-"] {
    background-position: center -280px;
}
.eva-card-body.SOL,
.eva-card-body[class*="SOL-"] {
    background-position: center -320px;
}
.eva-card-body.CORP,
.eva-card-body[class*="CORP-"] {
    background-position: center -360px;
}
.eva-card-body.VIV,
.eva-card-body[class*="VIV-"] {
    background-position: center -400px;
}
.eva-card-body.PE,
.eva-card-body[class*="PE-"] {
    background-position: center -440px;
}
.eva-card-body.PRB,
.eva-card-body[class*="PRB-"] {
    background-position: center -480px;
}
.eva-card-body.BBVAF,
.eva-card-body[class*="BBVAF-"] {
    background-position: center -520px;
}
.eva-card-body.AL,
.eva-card-body[class*="AL-"] {
    background-position: center -560px;
}
.eva-card-body.ITAUB,
.eva-card-body[class*="ITAUB-"] {
    background-position: center -600px;
}
.eva-card-body.BCH,
.eva-card-body[class*="BCH-"] {
    background-position: center -640px;
}
.eva-card-body.SAENZ,
.eva-card-body[class*="SAENZ-"] {
    background-position: center -680px;
}
.eva-card-body.BTDF,
.eva-card-body[class*="BTDF-"] {
    background-position: center -720px;
}
.eva-card-body.PAYU,
.eva-card-body[class*="PAYU-"] {
    background-position: center -760px;
}
.eva-card-body.BICE,
.eva-card-body[class*="BICE-"] {
    background-position: center -800px;
}
.eva-card-body.EFE,
.eva-card-body[class*="EFE-"] {
    background-position: center -840px;
}
.eva-card-body.FOR,
.eva-card-body[class*="FOR-"] {
    background-position: center -880px;
}
.eva-card-body.MD,
.eva-card-body[class*="MD-"] {
    background-position: center -920px;
}
.eva-card-body.VI,
.eva-card-body[class*="VI-"] {
    background-position: center -960px;
}
.eva-card-body.VB,
.eva-card-body[class*="VB-"] {
    background-position: center -1000px;
}
.eva-card-body.VD,
.eva-card-body[class*="VD-"] {
    background-position: center -1040px;
}
.eva-card-body.GLC,
.eva-card-body[class*="GLC-"] {
    background-position: center -1080px;
}
.eva-card-body.DC,
.eva-card-body[class*="DC-"] {
    background-position: center -1120px;
}
.eva-card-body.CD,
.eva-card-body[class*="CD-"] {
    background-position: center -1160px;
}
.eva-card-body.CM,
.eva-card-body[class*="CM-"] {
    background-position: center -1200px;
}
.eva-card-body.CA,
.eva-card-body[class*="CA-"] {
    background-position: center -1240px;
}
.eva-card-body.CL,
.eva-card-body[class*="CL-"] {
    background-position: center -1280px;
}
.eva-card-body.BP,
.eva-card-body[class*="BP-"] {
    background-position: center -1320px;
}
.eva-card-body.AX,
.eva-card-body[class*="AX-"] {
    background-position: center -1360px;
}
.eva-card-body.NT,
.eva-card-body[class*="NT-"] {
    background-position: center -1400px;
}
.eva-card-body.CS,
.eva-card-body[class*="CS-"] {
    background-position: center -1440px;
}
.eva-card-body.TN,
.eva-card-body[class*="TN-"] {
    background-position: center -1480px;
}
.eva-card-body.BANOR,
.eva-card-body[class*="BANOR-"] {
    background-position: center -1520px;
}
.eva-card-body.PR,
.eva-card-body[class*="PR-"] {
    background-position: center -1560px;
}
.eva-card-body.HC,
.eva-card-body[class*="HC-"] {
    background-position: center -1600px;
}
.eva-card-body.EC,
.eva-card-body[class*="EC-"] {
    background-position: center -1640px;
}
.eva-card-body.BX,
.eva-card-body[class*="BX-"] {
    background-position: center -1680px;
}
.eva-card-body.BBVAB,
.eva-card-body[class*="BBVAB-"] {
    background-position: center -1720px;
}
.eva-card-body.MG,
.eva-card-body[class*="MG-"] {
    background-position: center -1760px;
}
.eva-card-body.HSBC,
.eva-card-body[class*="HSBC-"] {
    background-position: center -1800px;
}
.eva-card-body.DS,
.eva-card-body[class*="DS-"] {
    background-position: center -1840px;
}
.eva-card-body.CB,
.eva-card-body[class*="CB-"] {
    background-position: center -1880px;
}
.eva-card-body.SAN,
.eva-card-body[class*="SAN-"] {
    background-position: center -1920px;
}
.eva-card-body.ICBC,
.eva-card-body[class*="ICBC-"] {
    background-position: center -1960px;
}
.eva-card-body.SB,
.eva-card-body[class*="SB-"] {
    background-position: center -2000px;
}
.eva-card-body.BTB,
.eva-card-body[class*="BTB-"] {
    background-position: center -2040px;
}
.eva-card-body.LIV,
.eva-card-body[class*="LIV-"] {
    background-position: center -2080px;
}
.eva-card-body.BANRE,
.eva-card-body[class*="BANRE-"] {
    background-position: center -2120px;
}
.eva-card-body.BAJIO,
.eva-card-body[class*="BAJIO-"] {
    background-position: center -2160px;
}
.eva-card-body.INBUR,
.eva-card-body[class*="INBUR-"] {
    background-position: center -2200px;
}
.eva-card-body.FAMSA,
.eva-card-body[class*="FAMSA-"] {
    background-position: center -2240px;
}
.eva-card-body.IXE,
.eva-card-body[class*="IXE-"] {
    background-position: center -2280px;
}
.eva-card-body.BANJE,
.eva-card-body[class*="BANJE-"] {
    background-position: center -2320px;
}
.eva-card-body.SJU,
.eva-card-body[class*="SJU-"] {
    background-position: center -2360px;
}
.eva-card-body.ITAU,
.eva-card-body[class*="ITAU-"] {
    background-position: center -2400px;
}
.eva-card-body.AFIRM,
.eva-card-body[class*="AFIRM-"] {
    background-position: center -2440px;
}
.eva-card-body.MIFEL,
.eva-card-body[class*="MIFEL-"] {
    background-position: center -2480px;
}
.eva-card-body.INVEX,
.eva-card-body[class*="INVEX-"] {
    background-position: center -2520px;
}
.eva-card-body.BSE,
.eva-card-body[class*="BSE-"] {
    background-position: center -2560px;
}
.eva-card-body.NBSF,
.eva-card-body[class*="NBSF-"] {
    background-position: center -2600px;
}
.eva-card-body.BERSA,
.eva-card-body[class*="BERSA-"] {
    background-position: center -2640px;
}
.eva-card-body.SCR,
.eva-card-body[class*="SCR-"] {
    background-position: center -2680px;
}
.eva-card-body.CHA,
.eva-card-body[class*="CHA-"] {
    background-position: center -2720px;
}
.eva-card-body.NBLR,
.eva-card-body[class*="NBLR-"] {
    background-position: center -2760px;
}
.eva-card-body.BLP,
.eva-card-body[class*="BLP-"] {
    background-position: center -2800px;
}
.eva-card-body.OXXO,
.eva-card-body[class*="OXXO-"] {
    background-position: center -2840px;
}
.eva-card-body.PAFA,
.eva-card-body[class*="PAFA-"] {
    background-position: center -2880px;
}
.eva-card-body.RAPA,
.eva-card-body[class*="RAPA-"] {
    background-position: center -2920px;
}
.eva-card-body.SENCI,
.eva-card-body[class*="SENCI-"] {
    background-position: center -2960px;
}
.eva-card-body.ELEV,
.eva-card-body[class*="ELEV-"] {
    background-position: center -3000px;
}
.eva-card-body.SEPAEX,
.eva-card-body[class*="SEPAEX-"] {
    background-position: center -3040px;
}
.eva-card-body.MCH,
.eva-card-body[class*="MCH-"] {
    background-position: center -3080px;
}
.eva-card-body.MAN,
.eva-card-body[class*="MAN-"] {
    background-position: center -3120px;
}
.eva-card-body.MULTI,
.eva-card-body[class*="MULTI-"] {
    background-position: center -3160px;
}
.eva-card-body.FACIL,
.eva-card-body[class*="FACIL-"] {
    background-position: center -3200px;
}
.eva-card-body.AZTEC,
.eva-card-body[class*="AZTEC-"] {
    background-position: center -3240px;
}
.eva-card-body.AUTFI,
.eva-card-body[class*="AUTFI-"] {
    background-position: center -3280px;
}
.eva-card-body.LOJ,
.eva-card-body[class*="LOJ-"] {
    background-position: center -3320px;
}
.eva-card-body.SANSE,
.eva-card-body[class*="SANSE-"] {
    background-position: center -3360px;
}
.eva-card-body.WMART,
.eva-card-body[class*="WMART-"] {
    background-position: center -3400px;
}
.eva-card-body.BANS,
.eva-card-body[class*="BANS-"] {
    background-position: center -3440px;
}
.eva-card-body.TBANC,
.eva-card-body[class*="TBANC-"] {
    background-position: center -3480px;
}
.eva-card-body.COR,
.eva-card-body[class*="COR-"] {
    background-position: center -3520px;
}
.eva-card-body.INTAC,
.eva-card-body[class*="INTAC-"] {
    background-position: center -3560px;
}
.eva-card-body.AMIGO,
.eva-card-body[class*="AMIGO-"] {
    background-position: center -3600px;
}
.eva-card-body.CALIB,
.eva-card-body[class*="CALIB-"] {
    background-position: center -3640px;
}
.eva-card-body.MUT,
.eva-card-body[class*="MUT-"] {
    background-position: center -3680px;
}
.eva-card-body.BBVAC,
.eva-card-body[class*="BBVAC-"] {
    background-position: center -3720px;
}
.eva-card-body.INB,
.eva-card-body[class*="INB-"] {
    background-position: center -3760px;
}
.eva-card-body.BCP,
.eva-card-body[class*="BCP-"] {
    background-position: center -3800px;
}
.eva-card-body.SPI,
.eva-card-body[class*="SPI-"] {
    background-position: center -3840px;
}
.eva-card-body.EFECTY,
.eva-card-body[class*="EFECTY-"] {
    background-position: center -3880px;
}
.eva-card-body.SPE,
.eva-card-body[class*="SPE-"] {
    background-position: center -3920px;
}
.eva-card-body.VIA,
.eva-card-body[class*="VIA-"] {
    background-position: center -3960px;
}
.eva-card-body.BB,
.eva-card-body[class*="BB-"] {
    background-position: center -4000px;
}
.eva-card-body.CAIXA,
.eva-card-body[class*="CAIXA-"] {
    background-position: center -4040px;
}
.eva-card-body.BANXE,
.eva-card-body[class*="BANXE-"] {
    background-position: center -4080px;
}
.eva-card-body.BRA,
.eva-card-body[class*="BRA-"] {
    background-position: center -4120px;
}
.eva-card-body.RI,
.eva-card-body[class*="RI-"] {
    background-position: center -4160px;
}
.eva-card-body.SRIO,
.eva-card-body[class*="SRIO-"] {
    background-position: center -4200px;
}
.eva-card-body.DIS,
.eva-card-body[class*="DIS-"] {
    background-position: center -4240px;
}
.eva-card-body.TNZ,
.eva-card-body[class*="TNZ-"] {
    background-position: center -4280px;
}
.eva-card-body.BANRI,
.eva-card-body[class*="BANRI-"] {
    background-position: center -4320px;
}
.eva-card-body.BBVA,
.eva-card-body[class*="BBVA-"] {
    background-position: center -4360px;
}
.eva-card-body.BCO,
.eva-card-body[class*="BCO-"] {
    background-position: center -4400px;
}
.eva-card-body.CMR,
.eva-card-body[class*="CMR-"] {
    background-position: center -4440px;
}
.eva-card-body.PNET,
.eva-card-body[class*="PNET-"] {
    background-position: center -4480px;
}
.eva-card-body.AZU,
.eva-card-body[class*="AZU-"] {
    background-position: center -4520px;
}
.eva-card-body.CIU,
.eva-card-body[class*="CIU-"] {
    background-position: center -4560px;
}
.eva-card-body.OH,
.eva-card-body[class*="OH-"] {
    background-position: center -4600px;
}
.eva-card-body.BCI,
.eva-card-body[class*="BCI-"] {
    background-position: center -4640px;
}
.eva-card-body.CIT,
.eva-card-body[class*="CIT-"] {
    background-position: center -4680px;
}
.eva-card-body.COM,
.eva-card-body[class*="COM-"] {
    background-position: center -4720px;
}
.eva-card-body.HIP,
.eva-card-body[class*="HIP-"] {
    background-position: center -4760px;
}
.eva-card-body.BCHI,
.eva-card-body[class*="BCHI-"] {
    background-position: center -4800px;
}
.eva-card-body.CHU,
.eva-card-body[class*="CHU-"] {
    background-position: center -4840px;
}
.eva-card-body.PRO,
.eva-card-body[class*="PRO-"] {
    background-position: center -4880px;
}
.eva-card-body.MAC,
.eva-card-body[class*="MAC-"] {
    background-position: center -4920px;
}
.eva-card-body.TUC,
.eva-card-body[class*="TUC-"] {
    background-position: center -4960px;
}
.eva-card-body.CAB,
.eva-card-body[class*="CAB-"] {
    background-position: center -5000px;
}
.eva-card-body.NAC,
.eva-card-body[class*="NAC-"] {
    background-position: center -5040px;
}
.eva-card-body.VIS,
.eva-card-body[class*="VIS-"] {
    background-position: center -5080px;
}
.eva-card-body.ROS,
.eva-card-body[class*="ROS-"] {
    background-position: center -5120px;
}
.eva-card-body.CDC,
.eva-card-body[class*="CDC-"] {
    background-position: center -5160px;
}
.eva-card-body.FRN,
.eva-card-body[class*="FRN-"] {
    background-position: center -5200px;
}
.eva-card-body.NEU,
.eva-card-body[class*="NEU-"] {
    background-position: center -5240px;
}
.eva-card-body.GRL,
.eva-card-body[class*="GRL-"] {
    background-position: center -5280px;
}
.eva-card-body.SUP,
.eva-card-body[class*="SUP-"] {
    background-position: center -5320px;
}
.eva-card-body.ARP,
.eva-card-body[class*="ARP-"] {
    background-position: center -5360px;
}
.eva-card-body.SHO,
.eva-card-body[class*="SHO-"] {
    background-position: center -5400px;
}
.eva-card-body.BEST,
.eva-card-body[class*="BEST-"] {
    background-position: center -5440px;
}
.eva-card-body.PAT,
.eva-card-body[class*="PAT-"] {
    background-position: center -5480px;
}
.eva-card-body.OC,
.eva-card-body[class*="OC-"] {
    background-position: center -5520px;
}
.eva-card-body.PAC,
.eva-card-body[class*="PAC-"] {
    background-position: center -5560px;
}
.eva-card-body.AUS,
.eva-card-body[class*="AUS-"] {
    background-position: center -5600px;
}
.eva-card-body.GUA,
.eva-card-body[class*="GUA-"] {
    background-position: center -5640px;
}
.eva-card-body.PIC,
.eva-card-body[class*="PIC-"] {
    background-position: center -5680px;
}
.eva-card-body.NV,
.eva-card-body[class*="NV-"] {
    background-position: center -5720px;
}
.eva-card-body.BBF,
.eva-card-body[class*="BBF-"] {
    background-position: center -5760px;
}
.eva-card-body.BBVAW,
.eva-card-body[class*="BBVAW-"] {
    background-position: center -5800px;
}
.eva-card-body.INTER,
.eva-card-body[class*="INTER-"] {
    background-position: center -5840px;
}
.eva-card-body.NVP,
.eva-card-body[class*="NVP-"] {
    background-position: center -5880px;
}
.eva-card-body.SEC,
.eva-card-body[class*="SEC-"] {
    background-position: center -5920px;
}
.eva-card-body.AXC,
.eva-card-body[class*="AXC-"] {
    background-position: center -5960px;
}
.eva-card-body.SUPB,
.eva-card-body[class*="SUPB-"] {
    background-position: center -6000px;
}
.eva-card-body.PROCR,
.eva-card-body[class*="PROCR-"] {
    background-position: center -6040px;
}
.eva-card-body.VILL,
.eva-card-body[class*="VILL-"] {
    background-position: center -6080px;
}
.eva-card-body.OCC,
.eva-card-body[class*="OCC-"] {
    background-position: center -6120px;
}
.eva-card-body.AGR,
.eva-card-body[class*="AGR-"] {
    background-position: center -6160px;
}
.eva-card-body.BCOO,
.eva-card-body[class*="BCOO-"] {
    background-position: center -6200px;
}
.eva-card-body.CSOC,
.eva-card-body[class*="CSOC-"] {
    background-position: center -6240px;
}
.eva-card-body.COLPA,
.eva-card-body[class*="COLPA-"] {
    background-position: center -6280px;
}
.eva-card-body.COPC,
.eva-card-body[class*="COPC-"] {
    background-position: center -6320px;
}
.eva-card-body.DAV,
.eva-card-body[class*="DAV-"] {
    background-position: center -6360px;
}
.eva-card-body.GNB,
.eva-card-body[class*="GNB-"] {
    background-position: center -6400px;
}
.eva-card-body.HELM,
.eva-card-body[class*="HELM-"] {
    background-position: center -6440px;
}
.eva-card-body.POP,
.eva-card-body[class*="POP-"] {
    background-position: center -6480px;
}
.eva-card-body.FALCO,
.eva-card-body[class*="FALCO-"] {
    background-position: center -6520px;
}
.eva-card-body.PICCO,
.eva-card-body[class*="PICCO-"] {
    background-position: center -6560px;
}
.eva-card-body.AMX,
.eva-card-body[class*="AMX-"] {
    background-position: center -6600px;
}
.eva-card-body.BCOL,
.eva-card-body[class*="BCOL-"] {
    background-position: center -6640px;
}
.eva-card-body.PSE,
.eva-card-body[class*="PSE-"] {
    background-position: center -6680px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and ( min--moz-device-pixel-ratio: 1.5),
only screen and ( -o-min-device-pixel-ratio: 1.5/1),
only screen and ( min-device-pixel-ratio: 1.5),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {
    .eva-card-body {
        background-image: url("https://a248.e.akamai.net/www.despegar.com/book/hotels/img-versioned/26.60/despegar/cards-vertical-retina.png?ts=1479129574919");
        background-size: cover;
    }
}
.eva-card-body.BBVACO,
.eva-card-body[class*="BBVACO-"] {
    background-position: center -4360px;
}
.eva-card-body.BCOL,
.eva-card-body[class*="BCOL-"] {
    background-position: center -6640px;
}
.eva-card-body.POL,
.eva-card-body[class*="POL-"] {
    background-position: center -960px;
}
.eva-card-body.CORPC,
.eva-card-body[class*="CORPC-"] {
    background-position: center -360px;
}
.eva-card-body.ITAUCO,
.eva-card-body[class*="ITAUCO-"] {
    background-position: center -600px;
}
.eva-card-body.ITAUB,
.eva-card-body[class*="ITAUB-"] {
    background-position: center -600px;
}
.eva-card-body.SANBR,
.eva-card-body[class*="SANBR-"] {
    background-position: center -1920px;
}
.eva-card-body.SBP,
.eva-card-body[class*="SBP-"] {
    background-position: center -2000px;
}
.eva-card-body.SFJO,
.eva-card-body[class*="SFJO-"] {
    background-position: center -2600px;
}
.eva-card-body.MCH,
.eva-card-body[class*="MCH-"] {
    background-position: center -3080px;
}
.eva-card-body.CHIC,
.eva-card-body[class*="CHIC-"] {
    background-position: center -4720px;
}
span.eva-card-body.COL,
.eva-card-body[class*="COL-"] {
    background-image: url(COL.png) !important;
    background: center 10px;
    background-repeat: no-repeat;
}
span.eva-card-body.CAGRL,
.eva-card-body[class*="CAGRL-"] {
    background-image: url(CAGRL.png) !important;
    background-repeat: no-repeat;
}
span.eva-card-body.TIT,
.eva-card-body[class*="TIT-"] {
    background-image: url(TIT.png) !important;
    background-repeat: no-repeat;
}
span.eva-card-body.CRES,
.eva-card-body[class*="CRES-"] {
    background-image: url(CRES.png) !important;
    background: center 10px;
    background-repeat: no-repeat;
}