<h3>Gracias, Tu reservación está confirmada</h3>

<table>
    <tr>
        <td>
            <p><img src="" style="max-height: 100px; max-width: 100px;"/></p>
        </td>
        <td>
            <p>Dirección: hjhgjhjgjghjgjh</p>
        </td>
    </tr>
    <tr>
        <td>
            Número de Reserva: 647454545454
        </td>
    </tr>
    <tr>
        <td>
            {#<a href="{{ url('viento_sur_app_booking_hotel_pdf', {'detail': detail, 'hotel_id': hotelId}) }}">Descargar PDF</a>#}
        </td>
    </tr>
</table>