<div class="modal fade" id="show-tdc-data-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">{{ 'Datos de tdc' | trans }}</h4>
            </div>
            <div class="modal-body">
                <p>titular: diego daniel godoy</p>
                <p>numero: 65465465465</p>
                <p>tipo: mastercard</p>
                <p>cod: 111</p>
                <p>fecha de vencimiento: 10/17</p>
            </div>
            {#<div class="modal-footer">#}
                {#<button class="btn btn-info" data-dismiss="modal">NO</button>#}
                {#<a id="delete-entity" href="delete" class="btn btn-danger">{{ 'admin.yes' | trans }}</a>#}
            {#</div>#}
        </div>
    </div>
</div>