<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">{{ 'admin.photo_manager' | trans }}</h4>
            </div>
            <div class="modal-body">
                <img src="" class="imagepreview" style="width: 100%;" >
            </div>
        </div>
    </div>
</div>