<form name="searchActivity" id="search-activity" action ="{{ path('viento_sur_process_search_activity', {'_locale': app.request.locale})}}" method="GET" style="margin-top: 35px;">
    <div class="col-xs-12 col-md-10" style="margin-bottom: 25px;">
        <h4>Ingresar destino</h4>
        <div class="form-group-icon-left">
            <i class="fa fa-map-marker input-icon"></i>
            <input id="autocomplete-activity" name="autocomplete" type="text" class="city-input form-control" data-provide="typeahead" placeholder="Ingresa una ciudad" autocomplete="on"  {% if not isTest %}required{% endif %}>
            <input id="latitude" name="latitude" type="hidden">
            <input id="longitude" name="longitude" type="hidden">
        </div>
    </div>    
    {% set currency = app.session.get('targetCurrency') %}
    <div class="col-xs-2 col-xs-offset-9 selectMoney">
        <select class="form-control"  onchange="optionChangeCurrency(this.value)">
            <option value="USD" {% if currency == 'USD' %}selected="selected"{% endif %}>USD</option>
            <option value="ARS" {% if currency == 'ARS' %}selected="selected"{% endif %}>AR$</option>
        </select>
    </div>
    <div class="col-xs-12 btnSearch">
        <button id="submitActivity">{{ 'index.search_text' | trans }}</button>
    </div>
</form>

<div class="hide" id="searchActivityMsg">
    <h3 title="Actividades - VientoSur.net"><b>Actividades...</b></h3>
    <div class="progress">
        <div class="progress-bar" id="activity_pb" role="progressbar" aria-valuenow="60"
             aria-valuemin="0" aria-valuemax="100" style="width: 1%;">
            <span class="sr-only"></span>
        </div>
    </div>
</div>