<tr>
    <td>1</td>
    <td>hace 7 meses</td>
    <td>Excursión a Villa Carlos Paz</td>
    <td>Córdoba, Argentina</td>
    <td>4 Hs</td>
    <td>Todos los días</td>
    <td>Activo</td>
    <td>
        <a data-target="#delete-modal" data-toggle="modal" data-whatever="" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
        <a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
    </td>
</tr>